/*------------------------------------------------------------------
[Admin Styles Stylesheet]

[Table of contents]

1. PRELOADERS for Theme Options Panel
2. CUSTOM METABOX STYLE

-------------------------------------------------------------------*/

/*PRELOADERS*/
.redux-message.redux-notice.notice.redux-notice {
    display: none;
}
.v1_ball_triangle .ball-triangle-path {
    left: 55px;
    top: 55px;
}
.v2_ball_pulse .ball-pulse {
    text-align: center;
    top: 50px;
    width: 100%;
}
.v3_ball_grid_pulse .ball-grid-pulse {
    left: 30px;
    top: 30px;
}
.v4_ball_clip_rotate .ball-clip-rotate {
    text-align: center;
    top: 45px;
    width: 100%;
}
.v5_ball_clip_rotate_pulse .ball-clip-rotate-pulse {
    left: 55px;
    top: 60px;
}
.v6_square_spin .square-spin {
    left: 35px;
    top: 35px;
}
.v7_ball_clip_rotate_multiple .ball-clip-rotate-multiple {
    left: 60px;
    top: 60px;
}
.v8_ball_pulse_rise .ball-pulse-rise {
    left: 13px;
    top: 50px;
}
.v9_ball_rotate .ball-rotate {
    left: 48px;
    top: 50px;
}
.v10_cube_transition .cube-transition {
    left: 58px;
    top: 58px;
}
.v11_ball_zig_zag .ball-zig-zag {
    left: 58px;
    top: 58px;
}
.v12_ball_zig_zag_deflect .ball-zig-zag-deflect {
    left: 58px;
    top: 58px;
}
.v13_ball_scale .ball-scale {
    left: 25px;
    top: 25px;
}
.v15_line_scale_party .line-scale-party,
.v14_line_scale .line-scale {
    left: 40px;
    top: 40px;
}
.v16_ball_scale_multiple .ball-scale-multiple {
    left: 60px;
    top: 60px;
}
.v17_ball_pulse_sync .ball-pulse-sync, 
.v18_ball_beat .ball-beat {
    left: 30px;
    top: 50px;
}
.v19_line_scale_pulse_out .line-scale-pulse-out, 
.v20_line_scale_pulse_out_rapid .line-scale-pulse-out-rapid{
    left: 40px;
    top: 40px;
}
#redux_demo-mt_preloader_animation li {
    float: left;
    width: 140px;
}
.meta_box_label {
    display: block;
    float: left;
    width: 25%;
}
.custom_metas > select {
    width: 30%;
}
.custom_metas small {
    font-weight: bold;
    padding-left: 10px;
}
.metabox-page.custom_metas {
    margin-bottom: 10px;
}
.vc_element-icon.smartowl_shortcode{
    background: url('../images/eMarijuana_logo.png');
}
/*2. CUSTOM METABOX STYLE*/
.post-type-page #poststuff #page_metaboxs .inside {
    margin: 0;
    padding: 0;
}
.post-type-page .postbox table.form-table {
    margin: 0;
}
.cmb-type-title.cmb_id_mt_test_title,
.cmb_id_smartowl_test_title {
    background: #232331 none repeat scroll 0 0;
}
.cmb-type-title.cmb_id_mt_test_title h1,
.cmb-type-title.cmb_id_mt_test_title .cmb_metabox_description,
.cmb_id_smartowl_test_title h1,
.cmb_id_smartowl_test_title .cmb_metabox_description {
    color: #ffffff;
    padding: 0;
}
.cmb-type-title.cmb_id_mt_test_title h5,
.cmb_id_smartowl_test_title h5 {
    display: none;
}
.cmb-type-title.cmb_id_mt_test_title > td,
.cmb_id_smartowl_test_title td {
    padding: 20px;
}
.cmb_id_smartowl_header_custom_variant li .cmb_option {
    position: absolute;
    top: 45%;
}
.cmb_id_smartowl_header_custom_variant li,
.cmb_id_smartowl_footer_custom_row1_layout .cmb_radio_list.cmb_list > li,
.cmb_id_smartowl_footer_custom_row2_layout .cmb_radio_list.cmb_list > li,
.cmb_id_smartowl_footer_custom_row3_layout .cmb_radio_list.cmb_list > li {
    float: left;
    width: 100%;
    margin-bottom: 30px !important;
    position: relative;
}
.cmb_id_smartowl_footer_custom_row1_layout .cmb_radio_list.cmb_list li .cmb_option,
.cmb_id_smartowl_footer_custom_row2_layout .cmb_radio_list.cmb_list li .cmb_option,
.cmb_id_smartowl_footer_custom_row3_layout .cmb_radio_list.cmb_list li .cmb_option {
    position: absolute;
    top: 35%;
}
.cmb_id_smartowl_header_custom_variant li label,
.cmb_id_smartowl_footer_custom_row1_layout .cmb_radio_list.cmb_list li label,
.cmb_id_smartowl_footer_custom_row2_layout .cmb_radio_list.cmb_list li label,
.cmb_id_smartowl_footer_custom_row3_layout .cmb_radio_list.cmb_list li label {
    margin-left: 25px;
}
#redux-form-wrapper #redux-header h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 10px 0;
}
.cmb_id_smartowl_footer_custom_row3_layout .cmb_radio_list.cmb_list img,
.cmb_id_smartowl_footer_custom_row2_layout .cmb_radio_list.cmb_list img,
.cmb_id_smartowl_footer_custom_row1_layout .cmb_radio_list.cmb_list img,
.cmb_id_smartowl_header_custom_variant .cmb_radio_list.cmb_list img {
    max-width: 70%;
}
.mt_divider h3 {
    font-size: 23px;
    font-weight: 300;
    margin: 10px !important;
}
.mt_divider p {
    display: none !important;
}
.mt_divider *{
    color: #fff;
}
.mt_divider {
    background: #232331 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    margin: 0;
}
#menu-settings-column{padding: inherit !important;}