@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.eot');
	src: local('☺'), url('../fonts/Poppins-Medium.woff') format('woff'), 
	url('../fonts/Poppins-Medium.ttf') format('truetype'), 
	url('../fonts/Poppins-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	src: local('☺'), url('../fonts/Poppins-Regular.woff') format('woff'), 
	url('../fonts/Poppins-Regular.ttf') format('truetype'), 
	url('../fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.eot');
	src: local('☺'), url('../fonts/Poppins-SemiBold.woff') format('woff'), 
	url('../fonts/Poppins-SemiBold.ttf') format('truetype'), 
	url('../fonts/Poppins-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Poppins-Regular';
    padding-top: 100px;
}

p,span,a{font-family: 'Poppins-Regular';}
.full_container {
    width: 100% !important;
    max-width: 100%;
    position: static !important;
    padding: 0 !important;
    margin: 0 !important;
}
h3{font-family: 'Poppins-Medium';}
#primary>.container {
/*    width: 100%;*/
}
.home main#main {
    padding: 0;
}
.home #primary>.container {width: 100%;}
/*.main_banner {
    padding: 0;
    margin: 0;
}*/
.vc_row.main_banner {
    margin: 0;
} 

.main_container {
    max-width: 1170px;
    margin: 0 auto;
}
h2{    font-family: 'Poppins-SemiBold';}
.main_title h2:before {
    content: '';
    height: 2px;
    width: 100px;
    position: absolute;
    top: 20px;
    left: -110px;
    background: #000;
}
.main_title h2 {
    position: relative;
}
.semi_title p {
    font-size: 18px;
    color: #6f6f6f;
    margin: 25px 0 !important;
    line-height: 32px;
    font-family: 'Poppins-Regular';
}


.custom_btn button {
    font-size: 18px !important;
    color: #1e1e1e !important;
    background-color: transparent !important;
    padding: 0 !important;
    border-bottom: 2px solid #000 !important;
    border-radius: 0 !important;
    line-height: 20px !important;
    height: auto !important;
    background: url(../images/multi_icon.png)!important;
    background-position: 91px -2px !important;
    padding-right: 30px !important;
}
.benifits {
    float: left;
    width: 100%;
}
.benifits .benifits_wrapper {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.benifits .benifits_wrapper .benifits_box {
    flex-basis: 50%;
    text-align: center;
    max-width: 250px;
    background: #fff;
    box-shadow: 0px 8px 29px 0px rgba(0, 0, 0, 0.08);
    padding: 40px;
}
.benifits_box h3 {
    font-size: 18px;
    color: #1e1e1e;
    font-family: 'Poppins-SemiBold';
        line-height: 28px;
}
.banifit_description>.vc_column-inner>.wpb_wrapper {
    position: relative;
    padding: 90px 0;
}
.banifit_description>.vc_column-inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 30%);
    background: #eef8ec;
    height: 100%;
    z-index: 0;
        display: inline-block;
}
.banifit_description>.vc_column-inner>.wpb_wrapper .semi_title {
    position: relative;
}
.banifit_description:before {
    content: '';
    position: absolute;
    width: 3250px;
    height: 100%;
    background: #eef8ec;
    right: calc(100% - 15px);
}
.banifit_description .semi_title {
    max-width: 460px;
    float: left;
}
.benifits_box .title_benifits {
    margin-top: 30px;
}
.grid_benifit>.vc_column-inner:before {
    background: url(../images/square_repeater.png);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background-repeat-x: no-repeat;
    background-position: left center;
    background-repeat: space;
}
.grid_benifit>.vc_column-inner:before {
    background: url(../images/square_repeater.png);
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 100%;
    background-repeat: repeat;
    background-position: left center;
    z-index: 0;
    left: auto;
}
.grid_benifit>.vc_column-inner>.wpb_wrapper {
    position: relative;
}
.grid_benifit:before {
    background: url(../images/square_repeater.png);
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 3250px;
    height: 100%;
    background-repeat: repeat;
    background-position: left center;
    z-index: 0;
    content: '';
}
.grid_benifit {
    padding: 130px 0;
}
.banifit_description{margin-top: 130px;}
  
.benifits .benifits_wrapper .benifits_box:nth-child(2),
.benifits .benifits_wrapper .benifits_box:nth-child(1){margin-bottom: 13%;}  


/*HOME PAGE BANNER*/
.banner_contant h1 {
    font-size: 80px;
    font-family: 'Poppins-SemiBold';
}
.banner_contant {
    padding-left: 10% !important;
}
.banner_contant p {
    font-size: 18px;
    color: #6f6f6f;
    font-family: 'Poppins-Regular';
    max-width: 500px;
        margin-top: 20px;
}
.banner_contant>.vc_column-inner>.wpb_wrapper:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    background: #eef8ec;
    height: 100%;
    z-index: 0;
    display: inline-block;
}
.banner_contant:before {
/*    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 80%);
    background: #eef8ec;
    height: 100%;
    z-index: 0;
    display: inline-block;
    content: '';*/
}
.banner_contant>.vc_column-inner>.wpb_wrapper>.wpb_text_column {
    float: left;
    width: 100%;
}
.banner_contant>.vc_column-inner>.wpb_wrapper>.wpb_text_column:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 125px;
    background: #eef8ec;
    height: 100%;
    z-index: 0;
    display: inline-block;
}
.banner_contant>.vc_column-inner>.wpb_wrapper>.wpb_text_column>.wpb_wrapper {
    position: relative;
}
.banner_contant>.vc_column-inner {
    padding: 90px 0;
}
.banner_contant>.vc_column-inner>.wpb_wrapper {
    position: relative;
    padding: 80px 0;
}
.social_grid ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.banner_socail_media {
    position: relative;
    float: left;
    width: 100%;
    clear: both;
}
.social_grid ul li a {
    font-size: 22px;
    color: #242e21;
    transition: 0.3s;
}
.social_grid ul li a:hover{
color: #58b940;
}
.social_grid ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 7px 0;
}
.banner_socail_media {
    position: absolute;
    right: 115%;
    z-index: 9999;
    bottom: 20px;
    width: 25px;
}
.banner_socail_media>.wpb_wrapper:before {
    content: '';
    position: absolute;
    left: 9px;
    width: 3px;
    height: 80px;
    background: #1e1e1e;
    bottom: -78px;
    -webkit-animation: MoveUpDown 5s infinite linear;
}
.banner_contant>.vc_column-inner{margin-top: 20%;}
/*OUR CLIENT STORY*/
.Evdpl_testimonial.wpb_column{
	width: 90%;
    float: right;
}
.Evdpl_testimonial section#demos{right: -290px;}
.Evdpl_testimonial:before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 100%;
    background: #eef8ec;
    left: 100%;
        display: inline-block !important;
        top: 0;
}
.Evdpl_testimonial:after {
    content: '';
    position: absolute;
    width: calc(100% - 480px);
    height: 100%;
    background: #eef8ec;
    right: 0;
        display: inline-block !important;
        top: 0;
}
.our_client_description {
    position: absolute !important;
    top: 30%;
    left: 7%;
}
.our_client_description:before {
    content: '';
    background: url(../images/quotes.png);
}
.Evdpl_testimonial>.vc_column-inner{padding: 120px 0;}

.Evdpl_testimonial{
	    position: relative;
    float: left;
    width: 100%;
}
.our_client_description:before {
    content: '';
    background: url(../images/quotes.png);
    position: absolute;
    top: -50px;
    width: 130px;
    height: 140px;
    background-size: 100% 100%;
    right: 100%;
}
.our_clint_story .owl-theme .owl-nav{
    margin-top: 10px;
    position: absolute;
    left: -300px;
    bottom: 0;
    cursor: pointer;
}
.our_clint_story .owl-theme .owl-nav button {
    font-size: 44px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    opacity: 1;
}
.our_clint_story .owl-theme .owl-nav [class*=owl-]:hover span {
    background: #000 !important;
    opacity: 1 !important;
}
.our_clint_story .owl-theme .owl-nav span:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 34px;
    font-weight: 600;
    content: '';
}
.our_clint_story .owl-theme .owl-nav [class*=owl-]:hover{background: #000 !important;}
.our_clint_story .owl-theme .owl-nav span {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our_clint_story .owl-theme .owl-nav .owl-prev span:before{
	content: "\f104";
} 
.our_clint_story .owl-theme .owl-nav .owl-next span:before{
	content: "\f105";
}
section#testimonial-slider {
    right: -250px;
}

.Evdpl_testimonial>.vc_column-inner:before {
    display: inline-block !important;
    background: url(../images/green_dots.png);
} 
.Evdpl_testimonial>.vc_column-inner:before {
    display: inline-block !important;
    background: url(../images/green_dots.png);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 78px;
    z-index: 1;
}
.benifits_grid:before {
    content: 'T' !important;
    display: inline-block !important;
    position: absolute;
    bottom: 54px;
    z-index: 1;
    left: 0;
    font-size: 350px;
    font-family: 'Poppins-SemiBold';
    color: #addaa4;
    opacity: 0.3;
}
.our_clint_story {
    margin-top: 140px;
}
/*.our_clint_story .Evdpl_testimonial {
    width: 65%;
    float: left;
}
.our_clint_story .our_client_title {
    width: 30% !important;
    float: left;
}*/
/*PLUGIN CSS*/
.author-avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.evdpl_testimonial .evdpl_testimonial_header{
	    float: left;
    width: 100%;
    clear: both;
        display: flex;
    align-items: center;
}
.evdpl_testimonial .evdpl_avatar {
    float: left;
    width: 100px;
}
.evdpl_testimonial .evdpl_author_info {
    float: left;
    width: calc(100% - 100px);
}
.evdpl_testimonial .author-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.evdpl_testimonial .author-avatar img {
    width: 100%;
    height: 100%;
	object-fit: cover;
}

.evdpl_author_info h4.author-title {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Poppins-SemiBold';
    font-size: 20px;
}
.evdpl_author_info h4.author-designation {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins-Regular';
    margin-top: 6px;
}
.author-description p {
    font-size: 16px;
    color: #000000;
    line-height: 28px;
    margin-bottom: 0;
}
.author-footer {
    float: left;
    width: 100%;
    clear: both;
    margin-top: 25px;
}
.our_clint_story .item{padding: 20px; box-sizing: border-box;    display: inline-block;}
.evdpl_testimonial {
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.04);
    width: 100%;
    padding: 20px 25px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    max-width: 520px;
    text-align: left;
    display: inline-block;
    width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#000;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:#000;
}

::placeholder { /* Most modern browsers support this now. */
    color:#000;
}
.home .header-title-breadcrumb {
    display: none;
}

/*CATEGORY SLIDER*/
.main_slide_category:before {
    content: '';
    display: inline-block !important;
    position: absolute;
    top: 0;
    height: calc(100% - 175px);
    width: 100%;
    background: #eef8ec;
    right: 0;
}
.main_slide_category {
    position: relative;
}
.main_slide_category {
    padding-left: 200px;
    width: calc(100% - 100px);
    float: right;
}
.main_slide_category .slider_category {
    width: 100%;
    clear: both;
}
.main_slide_category .semi_title {
    max-width: 680px;
    float: left;
    padding-left: 60px;
}
.category_section .main_title {
    margin-top: 4% !important;
    display: inline-block;
    width: 100%;
padding-left: 60px;
}
.category_section .semi_title {
    margin-bottom: 4% !important;
}
.main_slide_category>.wpb_column:before {
    content: '';
    display: inline-block !important;
    background: url(../images/green_dots.png);
    position: absolute;
    top: 0;
    right: 10%;
    width: 400px;
    height: 78px;
    z-index: 1;
}
.main_slide_category>.wpb_column:after {
    content: '';
    display: inline-block !important;
    background: url(../images/green_dots.png);
    position: absolute;
    width: 78px;
    height: 400px;
    z-index: 1;
    left: -160px;
    top: 50%;
    transform: translate(-50%, -80%);
}
.evdpl_category {
    max-width: 380px;
    margin: 0 auto;
    padding-right: 6px;
    position: relative;
}

.slider_category .owl-item{
/*	  -webkit-transform: scale(0.99);
          transform: scale(0.99);
	  transition: -webkit-transform 0.3s ease-out, -webkit-filter 0.3s;
  transition: transform 0.3s ease-out, filter 0.3s;
  transition: transform 0.3s ease-out, filter 0.3s, -webkit-transform 0.3s ease-out, -webkit-filter 0.3s;*/
}
.slider_category .owl-item:hover{
/*  -webkit-transform: scale(1.2);
          transform: scale(1.2);
          position: relative;
          z-index: 1;*/
      }
.slider_category .owl-stage {
    padding-bottom: 60px;
    padding-top: 60px;
            box-sizing: border-box;
}
.slider_category .evdpl_category .category_desc {
    position: absolute;
    bottom: 0;
    width: 100%;
        padding: 20px;	
}
.slider_category .evdpl_category .category_desc h3 {
    color: #fff;
    text-align: center;
    font-family: 'Poppins-SemiBold';
    font-size: 30px;
    margin: 0;
}
.slider_category .category_btn {
opacity:0;
    color: #fff;
    text-align: center;
    font-family: 'Poppins-SemiBold';
    font-size: 30px;
    margin: 0;
    transition: all 0.3s;
}
.slider_category .owl-stage .owl-item .category_btn,
.slider_category .owl-stage .owl-item .category_desc h3{
	transition: all 0.3s;
}
.slider_category .owl-stage .owl-item:hover .category_btn {
     opacity: 1;
     display: inline-block;
    width: 100%;
    position: relative;
    top: -20px;
}
.slider_category .owl-stage .owl-item:hover .category_desc h3 {
    opacity:0;
}
.slider_category .category_btn a {
    color: #fff;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    position: relative;
    padding: 0px 30px;
}
.slider_category .owl-stage .owl-item:hover .category_btn a {
    padding: 20px 30px;
}
.slider_category .category_btn a:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 70px;
    background: #fff;
    left: -57px;
    top: 32px;
}
.category_section .owl-theme .owl-nav {
/*    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);*/
}

.category_section .owl-theme .owl-nav button{
        font-size: 44px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    opacity: 1;
    background: #000;
    color: #fff;
}
.category_section .owl-theme .owl-nav button.owl-next {
    display: none;
}
.category_section .owl-theme .owl-nav span {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category_section .owl-theme .owl-nav span:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 34px;
    font-weight: 600;
    content: '';
}
.category_section .owl-theme .owl-nav .owl-next span:before {
    content: "\f105";
}
.category_section .owl-theme .owl-nav .owl-prev span:before {
    content: "\f104";
}
.category_section .owl-theme .owl-nav [class*=owl-]:hover {
    background: #000 !important;
}
.category_section .owl-theme .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*OUR LATEST BLOG*/
.blog_img {
    height: 300px;
}
.blog_img img {
    height: 100%;
    width: 100%;
}
.blog_slider_grid {
    max-height: 300px;
    position: relative;
}
.evdpl_blog_slider .blog_created {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}
.evdpl_blog_slider .blog_created .blog_date {
background: #ffffff;
    width: auto;
    display: inline-block;
    padding: 10px 40px;
    box-sizing: border-box;
    color: #1e1e1e;
    position: relative;
    text-transform: uppercase;
    font-family: 'Poppins-SemiBold';
}
.blog_description .blog_info .blog_title {
    font-size: 18px;
    color: #1e1e1e;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 12px;
}
.blog_description {
    float: left;
    width: 100%;
}
.blog_description p.blog_short_desc {
    font-size: 14px;
    color: #6f6f6f;
    font-family: 'Poppins-Regular';
    line-height: 24px;
}
.evdpl_blog_slider {
   /* padding: 0 20px;*/
    float: left;
    width: 100%;
     box-shadow: 0px 4px 14px 4.08px rgba(0, 0, 0, 0.05);
}
.blog_slider_homepage .owl-carousel.owl-drag .owl-item {
    padding: 0 25px;
   
}
#blog-section .owl-stage-outer {
    padding: 45px 8px 45px 0px;
    box-sizing: border-box;
}
.special_container {
    max-width: 1200px;
    margin: 0 auto !important;
}
.blog_description {
    padding: 15px;
    box-sizing: border-box;
    padding-top: 0;
    position: relative;
    padding-bottom: 60px;
    margin-top: 12px;
    text-align: left;
}
.blog_url .read_more a {
    font-size: 16px;
    background: #000;
    color: #ffffff;
    padding: 10px 30px;
    display: inline-block;
    margin-right: 40px;
    position: relative;
    padding-right: 50px;
        border-radius: 4px;
}
.blog_url .read_more {
    text-align: right;
}
.blog_url {
    position: absolute;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    bottom: -20px;
}
.blog_url .read_more a:before {
    content: '';
    background: url(../images/multi_icon.png);
}
.blog_url .read_more a:before {
    content: '';
    background: url(../images/multi_icon.png);
    position: absolute;
    right: 20px;
    width: 25px;
    height: 14px;
    background-position: -31px -7px;
    top: 15px;
}
.blog_url .read_more a:hover {
    background: #58b940;
}
.evdpl_blog_slider .blog_created .blog_date:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 22px;
    height: 1px;
    width: 18px;
    background: #000;
}
.blog_slider_homepage .owl-theme .owl-nav {
    position: absolute;
    top: -110px;
    right: 0;
}
.blog_slider_homepage .owl-theme .owl-nav button{
    font-size: 44px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    opacity: 1;
    }
.blog_slider_homepage .owl-theme .owl-nav span:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 34px;
    font-weight: 600;
    content: '';
}
.blog_slider_homepage .owl-theme .owl-nav .owl-prev span:before {
    content: "\f104";
}
.blog_slider_homepage .owl-theme .owl-nav .owl-next span:before {
    content: "\f105";
}
.blog_slider_homepage .owl-theme .owl-nav span {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog_slider_homepage .owl-theme .owl-nav [class*=owl-]:hover {
    background: #000 !important;
}
.blog_slider_homepage .owl-stage-outer:before {
    content: '';
    background: url(../images/gray-square.png);
    position: absolute;
    right: 0;
    width: 290px;
    height: 75px;
    z-index: 0;
    top: 0;
}
.blog_slider_homepage .main_title {
    padding-left: 20px;
    margin-bottom: 30px !important;
}
.blog_slider_homepage:before {
    content: '';
    position: absolute;
    right: 0;
    background: url(../images/blog_bg.png) no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 300px;
}


/*MOST POPULAR PRODUCTS*/
.evdpl_most_popular {
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0px 7px 23px 0px rgba(0, 0, 0, 0.05);
}
.most_popular_product .evdpl_most_popular .add-to-cart>a {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ebf7e9;
    border: 4px solid #fff;
    right: 10px;
    color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -30px;
}
.most_popular_product .evdpl_most_popular .add-to-cart>a:before {
    content: '';
    background: url(../images/multi_icon.png);
    width: 35px;
    height: 40px;
    background-position: -5px -43px;
    display: inline-block;
    text-align: center;
    float: none;
    clear: both;
    position: absolute;
        z-index: 1;
}
.most_popular_product .owl-stage-outer {
    padding: 50px 0;
}
.evdpl_most_popular:hover .add-to-cart>a {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
    background: #fff;
}
.most_popular_product .evdpl_most_popular .add-to-cart>a:after {
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    visibility: hidden;
}

.evdpl_most_popular:hover .add-to-cart>a:after {
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.09);
}
.evdpl_most_popular p.add-to-cart {
    padding: 0;
    margin: 0;
}
.evdpl_most_popular .product_info {
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    background: url(../images/gray-square.png);
    background-color: #fff;
}
.evdpl_most_popular .product_info .buy-now-section {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evdpl_most_popular .product_info .product-title {
    font-size: 18px;
    color: #000000;
    font-family: 'Poppins-Medium';
    margin: 0;
    text-align: center;
}
.evdpl_most_popular .product_info .product-price {
    margin: 0;
    font-size: 20px;
    color: #6f6f6f;
    text-align: center;
    margin-top: 3px;
    clear: both;
    display: inline-block;
    width: 100%;
}
.evdpl_most_popular:hover .product_info {
    background-color: #fff;
    background-image: none;
}
.evdpl_most_popular:hover .product_info .buy-now-section {
    opacity: 1;
}
.evdpl_most_popular:hover .product_info .on_view {
    opacity: 0;
}
.evdpl_most_popular .product_info .buy-now-section p {
    /* width: 50%; */
    flex-basis: 50%;
    margin: 0;
}
.evdpl_most_popular .product_info .buy-now-section a {
    background: #58b940;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    display: inline-block;
    transition: 0.3s;
}
.evdpl_most_popular .product_info .buy-now-section a:hover {
    background: #000;
}


.most_popular_product .owl-theme .owl-nav {
    position: absolute;
    top: -110px;
    right: 0;
}
.most_popular_product .owl-theme .owl-nav button {
    font-size: 44px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    opacity: 1;
}
.most_popular_product .owl-theme .owl-nav span {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.most_popular_product .owl-theme .owl-nav span:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 34px;
    font-weight: 600;
    content: '';
}
.most_popular_product .owl-theme .owl-nav .owl-prev span:before {
    content: "\f104";
}
.most_popular_product .owl-theme .owl-nav .owl-next span:before {
    content: "\f105";
}
.most_popular_product .owl-theme .owl-nav [class*=owl-]:hover {
    background: #000 !important;
}
.most_popular_product .main_title {
    padding-left: 40px;
    padding-bottom: 50px;
}
.most_popular_product:before {
    content: '';
    display: inline-block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 300px;
    background: url(../images/product_slider_bg.png)no-repeat;
    background-size: 100% 100%;
    top: 30%;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: #38b91d;}
.owl-theme .owl-dots .owl-dot span{    background: #c0d8bb;}
.woocommerce-error, .woocommerce-info, .woocommerce-message{margin: 1em 0 1em;}

.woocommerce img, .woocommerce-page img{width: 100%;}

.woocommerce ul.products li.product a.added_to_cart.wc-forward:before {
    content: '';
    content: "\f058";
    font-size: 21px;
    position: absolute;
    right: 0;
    top: -27px;
    color: #58b940;
}
.woocommerce ul.products li.product a.added_to_cart.wc-forward{font: normal normal normal 14px/1 FontAwesome; font-size: 0;}

.woocommerce ul.products li .button.ajax_add_to_cart.loading{
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 0px;
  opacity: 1;
}

.woocommerce ul.products li .button.ajax_add_to_cart.loading:before{
    font-size: 18px !important;
    opacity: 1;
    color: #58b940;
    background-image: none;
        content: "\f021";
}

.admin-bar {
    position: relative;
}
.header-title-breadcrumb.relative {
    margin-bottom: 30px;
}
.woocommerce .comment-text .star-rating span::before {
    font-size: 0;
}
.custom_btn button:hover {
    color: #58b940 !important;
}
.psag a.btn{background: #58b940 !important;}
.psag a.btn.btn-beta{background: #151515 !important;}
.woocommerce form.login {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.entry-content>.woocommerce {
    margin-bottom: 30px;
}
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
    padding-left: 20px;
}
.woocommerce-additional-fields textarea#order_comments {
    min-height: 90px;
}
.thumbnails-summary .product-thumbnails {
    padding-right: 80px;
}
.thumbnails-summary .woocommerce-product-rating .star-rating>span {
    visibility: hidden;
}
.woocommerce.single-product div.product div.images img{width: 100%; height: 100%;}
.single-product .slick-list{max-height: 500px;}
.wpgs-for .slick-arrow, .wpgs-nav .slick-prev::before, .wpgs-nav .slick-next::before {
    color: #58b940 !important;
}
.wpgs-for .slick-arrow{margin: 0 10px;}
.woof_redraw_zone .woof_container_inner h4{
    font-family: 'Poppins-Medium';
}
.video_btn {
    text-align: center;
    margin: 50px 0;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video_btn i {
    color: #fff;
    font-size: 60px;
}
.premium_solution h1 {
    font-family: 'Poppins-Medium';
}
.video_btn a {
    background: rgba(88, 185, 64, 0.6);
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 95px;
    text-align: center;
}

.video_btn a i {
    transform: scale(1.0);
    transition: all 400ms ease-in-out 0s;
    -ms-transformtransition: all 400ms ease-in-out 0s;
    -webkit-transformtransition: all 400ms ease-in-out 0s;
}
.video_btn a:hover i{
   transform: scale(1.1);
    transition: all 400ms ease-in-out 0s;
    -ms-transformtransition: all 400ms ease-in-out 0s;
    -webkit-transformtransition: all 400ms ease-in-out 0s; 
}

.about_us_grid>.wpb_wrapper {
    font-size: 22px;
    color: #fff;
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(88, 185, 64, 0.6);
    left: 0;
    right: 0;
    padding: 16px 20px;
}
.about_us_grid {
    min-height: 260px;
}
.about_us_main_grid:before {
    content: '';
    display: inline-block !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.about_us_main_grid .wpb_column {
    margin: 0 20px;
    width: 29%;
    display: inline-block;
    border: 5px solid #fff;
    border-radius: 4px;
}
.about_us_grid:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.about_us_grid>.wpb_wrapper a {
    color: #fff;
    transition: 0.3s;
}   
.about_us_grid>.wpb_wrapper a:hover {
    color: #000;
}
.about_us_main_grid {
    margin-bottom: 90px !important;
}
.main-content .premium_solution {
    margin-bottom: 6% !important;
    margin-top: 4% !important;
      /*  padding: 80px 0 !important;*/
}
.preminum_content {
padding: 30px 0;
    margin-top: 0px;
    padding-left: 30px !important;
    padding-right: 10px !important;
}
.preminum_content {

}
.wpgs-nav .slick-prev:before, .wpgs-nav .slick-next:before {
    font-size: 28px;
}
.recentcomments span.comment-author-link {
    text-transform: capitalize;
}
.benifit_btn a {
    font-size: 18px;
    color: #1e1e1e;
    font-family: 'Poppins-SemiBold';
    position: relative;
    border-bottom: 2px solid #000;
}
.btn_benifit {
    display: inline-block;
    width: 100%;
}
.benifit_btn a:before {
    content: '';
    background: url(../images/multi_icon.png);
    position: absolute;
    right: -28px;
    width: 25px;
    height: 14px;
    background-position: -5px -7px;
    top: 7px;
}
.benifit_btn a:hover {
    color: #58b940;
    border-color: #58b940;
}
.mc4wp-response {
    text-align: center;
}
.sidebar-content.sidebar-right input.search-submit {
    height: 47px;
}