@media screen and (max-width: 1700px) {
.banner_contant>.vc_column-inner {
    margin-top: 10%;
}
}
@media screen and (max-width: 1600px) {
	.banner_contant h1{font-size: 60px;}
	div#navbar>ul.menu > li:not(.evdev-logoin):not(.cart) a{font-size: 14px;}
	div#navbar>ul.menu > li {
    margin-right: 32px;
}
.main_title h2:before {
    width: 70px;
    left: -80px;
}
.main_title h2{font-size: 30px;}
.category_section .semi_title p{    margin: 10px 0 !important;    font-size: 16px; line-height: 24px;}
.slider_category .evdpl_category .category_desc h3{font-size: 24px;}
.category_section .main_title{margin-top: 1%;}
.category_section .semi_title {margin-bottom: 0 !important;}
.category_slider {height: 340px;}
.main_slide_category:before{height: calc(100% - 125px);}
.category_section .owl-theme .owl-nav{top: 45%;}
.category_slider>img {height: 100%;width: 100%;object-fit: cover;}
.slider_category .owl-stage{padding-top: 36px;}
.semi_title p{    font-size: 14px;line-height: 22px;}
.benifits_grid:before{    bottom: 14%;    font-size: 130px;}
.benifits .benifits_wrapper{    justify-content: space-evenly;}
.benifits .benifits_wrapper .benifits_box{    max-width: 220px;    padding: 30px;}
.benifits_box h3{    font-size: 16px;    line-height: 22px;}
.benifits .benifits_wrapper .benifits_box:nth-child(2), .benifits .benifits_wrapper .benifits_box:nth-child(1) {
    margin-bottom: 6%;
}
.blog_slider_homepage {
    padding-top: 20px;
}
.author-description p{    font-size: 14px;    line-height: 20px;}
.author-footer{margin-top: 15px;}
.our_client_description:before{    right: 90%;}
.most_popular_product .owl-stage-outer{padding-right: 30px;}
.special_container{    max-width: 1170px;}
.main_slide_category>.wpb_column:after{    top: 42%;    height: 240px;}
.banner_contant>.vc_column-inner {
    margin-top: 4%;
}
.video_btn{    min-height: 200px;}
}

@media screen and (max-width: 1400px) {
	.slider_category .owl-stage .owl-item:hover .category_btn a {padding: 10px 22px;}
.slider_category .category_btn a:before{left: -47px;top: 22px;width: 60px;}
.slider_category .evdpl_category .category_desc h3 {font-size: 20px !important;}
.preminum_content {
    padding: 80px 0;
}
}

@media screen and (max-width: 1200px) {
	.banner_contant h1{font-size: 50px;}
}
@media screen and (max-width: 1199px) {
	.main_slide_category>.wpb_column:before{
		right: 3%;
		width: 260px;
		height: 30px;
	}
	.main_slide_category>.wpb_column:after{
		left: -180px;
		    width: 40px;
    height: 210px;
	}
	.footer_link {
    padding-left: 0;
}
footer .menu .menu-item a, footer .textwidget.custom-html-widget p{font-size: 14px;}
.subscriber h2{    font-size: 28px !important;}
.footer_newslatter{
    padding-bottom: 30px;
    margin-top: 30px;
}
.subscriber h4{font-size: 20px !important;}
.footer h3.widget-title{font-size: 20px !important;}
.f_bottom_left p{font-size: 14px;}
.evdpl_author_info h4.author-designation{font-size: 14px !important;}
.evdpl_author_info h4.author-title{    font-size: 20px !important;}
.blog_description .blog_info .blog_title{font-size: 18px !important;    margin: 0;}
.blog_img{height: 100%;}
.blog_slider_grid{height: 240px;}
.blog_description p.blog_short_desc{line-height: 20px;}
.benifits_box h3 {
    font-size: 16px !important;
    line-height: 22px !important;
}
.benifits .benifits_wrapper .benifits_box{
	    max-width: 200px;
	        padding: 20px;
}
.benifits .benifits_wrapper .benifits_box:nth-child(2), .benifits .benifits_wrapper .benifits_box:nth-child(1) {
    margin-bottom: 4%;
}
.grid_benifit {
    padding: 60px 0;
}
.banifit_description {
    margin-top: 60px;
}
.banifit_description>.vc_column-inner>.wpb_wrapper {
    position: relative;
    padding: 40px 0;
}
.evdpl_most_popular{    max-width: 260px;}
.most_popular_product .evdpl_most_popular .add-to-cart>a{    right: 40px;}
.evdpl_most_popular .product_info .buy-now-section a{    padding: 6px 20px;}
div#navbar>ul.menu > li {
    margin-right: 22px;
}
.row_wrapper{padding: 0 20px;}
.Evdpl_testimonial:after{    width: calc(100% - 400px);}
.Evdpl_testimonial>.vc_column-inner:before{
	    width: 210px;
    height: 40px;
}
.Evdpl_testimonial>.vc_column-inner {
    padding: 60px 0;
}
.our_clint_story .owl-theme .owl-nav{    bottom: 60px;left: -210px;}
section#testimonial-slider {
    right: -160px;
}
#navbar .menu-item > a{font-size: 14px !important;}
.main_slide_category {
    padding-left: 0;
    width: 100%;
}
.slider_category .owl-stage{display: inline-block;padding-left: 0;}
.woocommerce ul.products li.product .archive-product-title{font-size: 20px !important;}
.woocommerce ul.products li .product-buttons .buy-now-button a{    padding: 4px 10px;    font-size: 14px;}
.woocommerce ul.products li .product-buttons .overlay-price{font-size: 16px;}
.premium_solution h1 {
    font-family: 'Poppins-Medium';
    font-size: 22px;
}
.premium_solution p {
    font-size: 14px;
    line-height: 22px;
}
}

@media screen and (max-width: 991px) {
.navbar-toggle{display: block !important;}
.header1 #navbar {
    max-height: none;
    width: 100%;
}
.navbar-header{width: 100%;}
body .navbar-header h1.logo {
    margin: 0;
    width: auto;
    left: 0;
    right: auto;
    float: left;
    margin-left: 15px;
}
.header1 #navbar{    max-height: none;    background: #fff;border-bottom: 2px solid #bce3b3;    position: absolute;   top: 100px;    padding: 0 15px;    box-shadow: 0 5px 5px rgba(0,0,0,.16) !important;}
.row_wrapper {
    padding: 0;
    border-bottom: 2px solid #bce3b3;
}
#navbar .menu-item > a {
    font-size: 18px !important;
}
div#navbar>ul.menu > li.cart,
div#navbar>ul.menu > .actions-group {
    margin-right: 0;
}
div#navbar>ul.menu{
	flex-direction: column;    
	float: left !important;
    height: auto;
}
div#navbar>ul.menu > li:not(.evdev-logoin):not(.cart) a{padding: 0 !important;}
div#navbar>ul.menu > li{margin-right: 0; width: 100% !important;    text-align: left;    border-bottom: 1px solid #bce3b3;padding: 6px 0;}
div#navbar>ul.menu > li:last-child {
    border-bottom: 0;
}
header.header1{position: static;}
.navbar-default .navbar-nav li.cart a{padding-left: 0;padding: 7px 0;}
div#navbar .actions-group {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #bce3b3;
    padding: 10px 6px 12px 0px !important;
}
div#navbar .actions-group .nav-search {
    padding-left: 0;
}
.subscriber h2 {
    font-size: 22px !important;
}
.subscriber h4 {
    font-size: 14px !important;
}
.footer_boxes .f_bottom_left {
    margin-right: 40px;
    max-width: 320px;
}
.benifits_box h3 {
    font-size: 14px !important;
    line-height: 17px !important;
}
.benifits_box .title_benifits {
    margin-top: 10px;
}
.benifits .benifits_wrapper .benifits_box {
    max-width: none;
    flex-basis: 44%;
    padding: 20px 10px;
}
.banner_contant>.vc_column-inner {
    margin-top: 0;
}
.banner_contant>.vc_column-inner {
    padding: 40px 0;
}
section#testimonial-slider {
    right: 0;
}
.Evdpl_testimonial.wpb_column{width: 100%;}
.our_client_description{position: static !important;}
.our_clint_story .owl-theme .owl-nav {
    bottom: auto;
    left: auto;
    top: -110px;
    right: 0;
}
.benifits_grid .main_title,
.benifits_grid .semi_title,
.benifits_grid .custom_btn{padding-left: 40px;}
.Evdpl_testimonial:after {
    width: calc(100% - 190px);
}
.wpb_row {
    margin-bottom: 20px;
}
.blog_slider_homepage {
    padding-top: 0;
}
.our_clint_story {
    margin-top: 20px;
}
.our_clint_story .main_title {
    padding-top: 30px;
	padding-left: 30px;
}
.footer_link {
    padding-left: 6%;
}
.our_client_description:before {
    right: auto;
    left: 0;
    top: 0;
}
#blog-section .owl-stage-outer{    margin-left: -3%;}
.category_section .main_title{    padding-left: 0;}
.most_popular_product .main_title{padding-left: 30px;}
body{padding-top: 0;}
.related.products ul.products li.product .archive-product-title{padding-left: 0;padding-right: 0;}
.woocommerce-page div.product div.summary {width: 100%;}
div#navbar>ul.menu > li.evdev-logoin a{
    background: #58b940 !important;
    color: #fff;
    width: auto;
    display: inline-block;
}
.navbar-default .navbar-nav li.cart a span.cart_contents_count{
        top: 13px;
    left: 15px;
}
.fixed-search-inside .search-input{    font-size: 18px;    padding: 10px 0 10px 0px;}
.fixed-search-inside .evdevtheme-search i{    font-size: 16px;}
.fixed-search-inside .esc-search{
        margin-top: 5px;
    font-size: 15px;
}
.thumbnails-summary .product-thumbnails{padding-right: 15px;}
.home div#navbar>ul.menu > li.evdev-logoin a{color: #fff;}
.about_us_main_grid .wpb_column{    width: 28%;}
.about_us_grid>.wpb_wrapper{    padding: 10px 14px;    font-size: 18px;}
.about_us_grid {
    min-height: 220px;
}
}
@media screen and (max-width: 767px) {
	.evdpl_most_popular{position: relative;}
	.most_popular_product .evdpl_most_popular .add-to-cart>a {
    right: -20px;
}
.banifit_description>.vc_column-inner:before{width: 100%;}
.benifits_grid .vc_btn3-container.vc_btn3-inline{    
	vertical-align: top;
    clear: both;
    float: left;
}
.banifit_description>.vc_column-inner>.wpb_wrapper{padding-left: 70px;}
.benifits_grid:before{    bottom: auto;}
.benifits .benifits_wrapper{display: inline-block;    text-align: center;}
.benifits .benifits_wrapper .benifits_box {
    max-width: none;
    padding: 15px 10px;
    display: inline-block;
    width: 46%;
    float: left;
    clear: none;
    margin: 0 2%;
    box-sizing: border-box;
    min-height: 160px;
}
.our_client_description {
    position: static !important;
}
.Evdpl_testimonial.wpb_column {
    width: 100%;
    float: right;
}
section#testimonial-slider {
    right: 0;
}
.Evdpl_testimonial:after {
    width: 100%;
}
.footer_boxes{flex-direction: column;}
.footer_boxes .f_bottom_left {
    margin-right: 0;
    max-width: 100%;
}
.footer_link{    width: 33%;}
.footer_newslatter{flex-direction: column;     margin-bottom: 15px;    margin-top: 15px;    padding-bottom: 15px;}
.footer_newslatter .subscriber{    margin-bottom: 10px;}
.banner_contant>.vc_column-inner>.wpb_wrapper{    padding: 50px 0;}
.wpb_row {
    margin-bottom: 0;
}
.most_popular_product .main_title{    padding-bottom: 10px;}
.main_slide_category:before {
    height: 100%;
}
.most_popular_product .owl-stage-outer {
    padding-right: 0;
}
.most_popular_product .owl-stage-outer {
    padding: 36px 0;
}
.most_popular_product {
    margin-bottom: 30px;
}

.slider_category .owl-stage {
    padding-top: 10px;
padding-bottom: 20px;
}
.main_slide_category {
    position: static;
    margin: 0 !important;
}
.main_title h2:before {
    width: 70px;
    left: 0;
    bottom: -10px;
    top: auto;
}
.our_client_description:before {
    right: 80%;
    width: 90px;
    height: 60px;
}
.Evdpl_testimonial>.vc_column-inner {
    padding: 20px 0;
}
.main_title h2 {
    position: relative;
    margin-bottom: 30px !important;
    margin-top: 0;
    font-size: 22px !important;
}
.our_clint_story .item{    padding: 30px 0px;width: 100%;    box-sizing: border-box;text-align: center;padding-right: 20px;}
section#blog-section{text-align: center;}
.evdpl_blog_slider{max-width: 330px;float: none;display: inline-block;}
.blog_slider_homepage .main_title{padding-left: 0;    padding-top: 40px;}
.benifits_grid .main_title, .benifits_grid .semi_title, .benifits_grid .custom_btn {
    padding-left: 0;
}
.banifit_description>.vc_column-inner>.wpb_wrapper {
    padding-left: 20px;
    display: inline-block;
    width: 100%;
}
.category_section .main_title, .main_slide_category .semi_title{padding-left: 0;}
.most_popular_product .main_title{padding-left: 0;}
.category_section .owl-theme .owl-nav.disabled+.owl-dots{    padding-bottom: 20px;}
.blog_slider_homepage .owl-carousel.owl-drag .owl-item{padding: 0;}
.footer_logo_description .textwidget p {margin-top: 15px;}
footer aside.widget {margin-bottom: 0px !important;}
.footer_boxes .f_bottom_right{border-top: 1px solid #a99d9d;padding-top: 20px;}
.footer_newslatter .subscriber_input{width: 100%;}
.input_value{
	    float: none;
    width: 100%;
    margin: 0 auto;
}
.main_slide_category>.wpb_column:before {
    right: 0;
    width: 170px;
    height: 30px;
        z-index: 0;
}
.Evdpl_testimonial>.vc_column-inner:before{    width: 170px;}
.our_clint_story .main_title{    padding-left: 15px;}
h1.logo>a{height: 75px;}
.header1 #navbar{    top: 80px;}
.header-title-breadcrumb-overlay{    min-height: 140px;}
.footer_logo_description .widget_media_image {
    max-width: 200px;
}
.related.products h2{padding-left: 0;margin-bottom: 12px !important;}
.related.products h2:before{top: auto;bottom: 0;}
.woocommerce #reviews #comments ol.commentlist{padding: 0;}
.single.single-product div.product .woocommerce-tabs .panel {padding: 0px !important;padding-top: 10px !important;}
.comment-form-cookies-consent label {
    padding-left: 20px;
}
.comment-form-cookies-consent input{    position: absolute;}
p.comment-form-cookies-consent {
    position: relative;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) img {
    height: 50px;
    object-fit: contain;
    padding: 6px;
}
.cart-page-wrap .woocommerce-cart-form,
.cart-page-wrap .cart-collaterals{    max-width: 100%;}
.cart-page-wrap .cart-collaterals .cart_totals{padding-left: 0; margin-top: 10px;}
    .cart-page-wrap .woocommerce-cart-form table tbody tr td {
    border-bottom: 1px solid #e4e4e4 !important;
}
.cart-page-wrap .woocommerce-cart-form table tbody tr td img{object-fit: cover; margin-right: 0;}
.cart-page-wrap .woocommerce-cart-form table tbody tr td a {
    clear: both;
    display: inline-block;
}
.cart-page-wrap .woocommerce-cart-form table tbody tr td a:nth-child(2) {
    width: 100%;
}

.cart-page-wrap .woocommerce-cart-form table tbody tr td.product-remove a.remove {
    width: auto;
}
.cart-page-wrap{margin-top: 30px;    margin-bottom: 0;}
.footer-div-parent .mc4wp-form-fields .container {
    padding: 0;
}
.woocommerce div#order_review th {
    font-size: 12px !important;
}
.woocommerce ul#shipping_method li{    font-size: 12px;}
.woocommerce .woocommerce-info{font-size: 14px;}
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address span {
    font-size: 18px;
}
.checkout_coupon.woocommerce-form-coupon .form-row.form-row-last, .checkout_coupon.woocommerce-form-coupon .form-row.form-row-first {
    width: 100%;
}
.evdpl_testimonial{max-width: 100%;}
.woocommerce form .form-row label.inline{display: inline-block;}
.woof_redraw_zone{    padding: 24px 10px;}
.header-title-breadcrumb.relative {
    margin-bottom: 20px;
}
h1.product_title.entry-title{font-size: 22px !important;}
.woocommerce-order-overview [class*="woocommerce-order-overview"] {
    width: 100%;
    border-right: 0;
}
.woocommerce .woocommerce-order-overview li {
    padding: 0;
    margin: 0;
    border-right: 0 !important;
    border-bottom: 1px dashed #e5e5e5;
    padding: 13px 0;
    margin: 0;
}
.woocommerce-thankyou-order-details {
    padding: 0;
    margin: 0;
}
.main-content .premium_solution{
        background-image: none !important;
    background-color: #fafafa;
        margin-bottom: 0% !important;
    margin-top: 0% !important;
}
.about_us_main_grid .wpb_column {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 7%;
}
.premium_solution h1{margin-top: 0;}
.main-content .about_us_main_grid{
        padding-top: 50px !important;
    padding-bottom: 30px !important;
}
.preminum_content {
    padding: 20px 0;
        padding-left: 0 !important;
    padding-right: 0 !important;
}

}

@media screen and (max-width: 700px) {
    .about_us_main_grid .wpb_column{    max-width: 360px;}
    .about_us_main_grid {
    padding: 30px 15px !important;
}
}

@media screen and (max-width: 479px) {
	.subscriber h2 {
    font-size: 19px !important;
}
.footer_link {
    width: 50%;
    float: left;
}
.footer_boxes .f_bottom_right{display: inline-block;}
footer .mc4wp-form-fields input[type="email"]{font-size: 14px !important;padding: 9px 20px;height: 48px;padding-right: 15px !important;}
.input_value{text-align: center;}
.footer_newslatter input[type="submit"]{position: static;padding: 6px 30px;display: inline-block;border: 2px solid #fff;    margin-top: 10px;}
.copyright_left{font-size: 12px;}
.footer h3.widget-title{margin-bottom: 10px;}
.most_popular_product .evdpl_most_popular .add-to-cart>a {
    right: -10px;
    width: 60px;
    height: 60px;
}
.evdpl_most_popular{    margin: 0;    max-width: 290px;    margin: 0 auto;}
.semi_title p{    margin: 15px 0 !important;}
.evdpl_blog_slider{    max-width: 260px;}
#blog-section .owl-stage-outer {
    margin-left: -5%;
}


section#testimonial-slider{
        padding: 0 30px;
    box-sizing: border-box;
}
.evdpl_author_info h4.author-title {
    font-size: 18px !important;
}
.evdpl_author_info h4.author-designation{margin-top: 0;}
.main_slide_category>.wpb_column:before{visibility: hidden;}
.category_section .main_title{margin-top: 8% !important;}
.benifits .benifits_wrapper .benifits_box{    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);}
.blog_slider_homepage section#blog-section {
    margin-left: -20px;
    margin-right: -20px;
}
.most_popular_product .owl-stage-outer {
    padding: 36px 0px;
        margin-left: -2%;
}
.evdpl_most_popular .product_info{    padding: 8px;}
.Evdpl_testimonial>.vc_column-inner:before{visibility: hidden;}
.our_clint_story section#testimonial-slider {
    margin-left: -20px;
    margin-right: -20px;
}
/*.evdpl_testimonial{    padding: 18px 15px;    max-width: 260px;}*/
.banner_contant>.vc_column-inner>.wpb_wrapper {
    padding: 20px 0;
}
.banner_contant h1{margin: 0;}
.main_title h2{    margin-bottom: 20px !important;}
.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner{    padding-top: 10px !important;}
.banner_contant>.vc_column-inner {
    padding: 10px 0;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{    width: 100%;}
.woocommerce-message a.button.wc-forward{
    clear: both;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.checkout_coupon.woocommerce-form-coupon button.button {
    width: 100%;
}
}

@media screen and (max-width: 400px) {
    .evdpl_most_popular{    max-width: 220px;}
    .most_popular_product .owl-stage-outer{ margin-left: -4%;}
}

@media screen and (min-width: 767px) {
	
}

@media screen and (min-width: 992px) {
	.main_container{
		max-width: 1170px;
		 margin: 0 auto !important;
	}
	.header1 #navbar{display: inline-block;}
}


