/*------------------------------------------------------------------
[Gutenberg] - [Table of contents]

- Gutenberg backend Custom Styling
/*------------------------------------------------------------------*/

.wp-block {
    max-width: 1170px;
}
/*Custom font styling*/
/*general*/
.editor-block-list__layout .editor-block-list__block {
    color: #555d66;
    font-family: "Open Sans",serif;
}
.wp-block-image figcaption {
    font-size: 16px;
}
.editor-post-title__block .editor-post-title__input {
    font-family: 'Playfair Display';
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}
.editor-block-list__layout .wp-block-heading h1,
.editor-block-list__layout .wp-block-heading h2,
.editor-block-list__layout .wp-block-heading h3,
.editor-block-list__layout .wp-block-heading h4,
.editor-block-list__layout .wp-block-heading h5,
.editor-block-list__layout .wp-block-heading h6 {
    font-family: 'Playfair Display';
    color: #151515;
}
.editor-block-list__layout .wp-block-heading h2 {
    font-size: 30px;
    line-height: normal;
    font-weight: 400;
}
.edit-post-visual-editor p.wp-block-subhead {
    color: #828282;
}
.editor-styles-wrapper .editor-block-list__layout .mce-content-body,
.editor-styles-wrapper .editor-block-list__layout  p  {
    font-size: 16px;
    color: #808080;
    line-height: 25px;
    font-weight: normal;
    font-family: Open Sans;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-cover p {
    color: #fff;
    font-size: 2em;
    line-height: 1.25;
    font-family: "Open Sans";
}
.editor-block-list__layout  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
}
.editor-styles-wrapper .components-autocomplete ul {
    list-style-type: square;
}
.editor-block-list__layout .editor-block-list__block-edit ul li a {
    color: #2f73f6;
    font-size: 17px;
    text-decoration: none;
}
.editor-block-list__layout  input.components-placeholder__input[type="url"]{
    color: #333;
    font-size: 14px;
}
.wp-block-embed-vimeo.wp-has-aspect-ratio.wp-embed-aspect-16-9.wp-block-embed.is-type-video{
    width: 610px;
    margin: 0;
}
.wp-block-image.is-focused {
    width: 100%;
}
/*button*/
.editor-block-list__layout .wp-block-button__link {
    background: #252525;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;
    padding: 12px 55px;
    font-weight: 400;
}
.editor-block-list__layout button.components-button.is-button.is-default.is-large {
    font-size: 14px;
    margin-top: 2px;
}

/* table */
.editor-block-list__layout .wp-block-table{
    text-align: center;
    background-color: transparent;
}
.editor-block-list__layout .wp-block-table td, 
.editor-block-list__layout .wp-block-table th {
    padding: 10px;
    border: 1px solid #e6e6e6;
}
.editor-block-list__layout .editor-rich-text__tinymce li {
    color: #828282;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    opacity: 1;
    visibility: visible;
}

/*blockquote*/
.wp-block-quote__citation {
    font-size: 13px !important;
    color: #fff !important;
    font-weight: 300 !important;
    font-style: italic !important;
}
.editor-block-list__layout .wp-block-quote {
    background: #509e46;
    margin-bottom: 60px;
    margin-top: 20px;
    padding: 50px !important;
    opacity: 1;
}
.wp-block-quote p {
    color: #ffffff !important;
    line-height: 25px !important;
}
blockquote .blockquote-footer, blockquote cite {
    display: block;
    font-style: italic;
    font-weight: 300;
    opacity: 0.6;
    text-align: left;
    margin-top: 10px;
}
.wp-block-gallery .blocks-gallery-image .components-autocomplete figcaption, 
.wp-block-gallery .blocks-gallery-item .components-autocomplete figcaption {
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 40px 10px 5px;
    color: #fff;
    text-align: center;
    font-size: 13px;

    background: linear-gradient(0deg,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 60%,transparent);
}
.wp-block-gallery .blocks-gallery-item figure {
    margin-bottom: 30px;
}
.editor-block-list__layout .editor-block-list__block-edit .wp-block-quote,
.editor-block-list__layout .editor-block-list__block-edit  .blockquote {
    border-left: 0px solid #2f73f6;

}
.editor-block-list__layout  .wp-block-quote.is-large p, 
.editor-block-list__layout  .wp-block-quote.is-style-large p,
.editor-block-list__layout .editor-block-list__block-edit  .blockquote {
    font-size: 24px;
    font-style: italic;
    line-height: 1.6;
}
.editor-block-list__layout .editor-block-list__block-edit .wp-block-code .editor-plain-text {
    color: #3c424f;
}
.editor-block-list__layout .wp-block-pullquote blockquote .wp-block-pullquote__citation{
    display: block;
    margin-top: 10px;
    font-style: italic;
    font-weight: 300;
    opacity: 0.6;
    text-align: left;
    text-transform: none;
}
.editor-block-list__layout .wp-block-pullquote blockquote::before {
    content: '\201D';
    vertical-align: top;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 150px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
    background: transparent;
    opacity: 0.1;
}
.editor-block-list__layout .wp-block-pullquote blockquote,
.editor-block-list__layout .wp-block-pullquote blockquote p{
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}
.editor-block-list__layout .wp-block-pullquote blockquote p:last-child{
    margin-bottom: 0 !important;
}
.editor-block-list__layout .wp-block-pullquote blockquote{
    background: #509e46 !important;
    padding: 50px;
    margin: 0;
    position: relative;
}
/*Gutenberg fixes*/
.editor-block-list__layout h1,
.editor-block-list__layout h1 span {
    font-weight: 500 !important;
    font-size: 36px !important;
    line-height: normal !important;
    color: #333 !important;
}
.editor-block-list__layout h2 {
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: normal !important;
    color: #333 !important;
}
.editor-block-list__layout h3 {
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: normal !important;
    color: #333 !important;
}
.editor-block-list__layout h4 {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: normal !important;
    color: #333 !important;
} 
.editor-block-list__layout h5 {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: normal !important;
    color: #333 !important;
} 
.editor-block-list__layout h6 {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: normal !important;
    color: #333 !important;
} 
.editor-styles-wrapper .editor-block-list__layout figcaption.mce-content-body,
.editor-styles-wrapper .editor-block-list__layout .wp-block-button__link.mce-content-body{
    color: #fff;
}
.editor-styles-wrapper .editor-block-list__layout figcaption{
    font-size: 13px !important;
}
.editor-styles-wrapper .wp-block-pullquote__citation {
    font-size: 15px !important;
    color: #fff !important;
    line-height: 23px !important;
    text-align: center !important;
}
.editor-styles-wrapper .block-library-pullquote__content .editor-block-list__layout p{
    font-size: 28px !important;
}
/*LISTS FIX*/
.editor-block-list__layout .editor-block-list__block-edit ul {
    padding-left: 20px !important;
    margin-left: 20px !important;
}
/*INLINE CAPTION*/
.editor-styles-wrapper .editor-rich-text__inline-toolbar figcaption.editor-rich-text__tinymce{
    color: #555d66 !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: normal !important;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-pullquote__citation{
    font-weight: 300 !important;
}