/*------------------------------------------------------------------
[Gutenberg] - [Table of contents]

- Gutenberg frontend Custom Styling
/*------------------------------------------------------------------*/

/*FRONTEND COLORS*/
.single article .article-content .has-pale-pink-color{
	color: #F78DA7;
}
.single article .article-content .has-vivid-red-color{
	color: #CF2E2E;
}
.single article .article-content .has-luminous-vivid-orange-color{
	color: #F56500;
}
.single article .article-content .has-luminous-vivid-amber-color{
	color: #F3B200;
}
.single article .article-content .has-light-green-cyan-color{
	color: #7BDCB5;
}
.single article .article-content .has-vivid-green-cyan-color{
	color: #00D084;
}
.single article .article-content .has-pale-cyan-blue-color{
	color: #8DD0FB;
}
.single article .article-content .has-vivid-cyan-blue-color{
	color: #0693e3;
}
.single article .article-content .has-very-light-gray-color{
	color: #eeeeee;
}
.single article .article-content .has-cyan-bluish-gray-color{
	color: #abb8c3;
}
.single article .article-content .has-very-dark-gray-color{
	color: #313131;
}
.wp-block-image figcaption {
    font-size: 16px;
}
a.wp-block-button__link {
    background: #252525;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;
    padding: 12px 55px;
    font-weight: 400;
    transition: 250ms all ease;
}
a.wp-block-button__link:hover{
	background: #6CD086 !important;
	color: #fff !important;
}
.wp-block-quote.is-large {
    padding: 30px;
}
body .status-panel-no-sidebar .alignfull {
	width: auto;
	max-width: 1000%;

	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
}

body .status-panel-no-sidebar .alignwide {
	width: auto;
	max-width: 1000%;
	margin-right: calc(25% - 25vw);
	margin-left: calc(25% - 25vw);
}

.alignwide img,
.alignfull img {
	display: block;
	margin: 0 auto;
}
article ul li {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	opacity: 1;
	visibility: visible;
}
.single article .article-content p.wp-block-cover-text {
    font-size: 2em;
    color: #fff;
    line-height: 1.25;
}
.wp-block-gallery.is-cropped .blocks-gallery-item img,
figure.wp-block-image img {
    margin: auto;
}
blockquote footer.blockquote-footer {
    background: transparent;
}
.single.single-post .article-content p.form-submit {
    margin-bottom: 0px;
}
blockquote .blockquote-footer,
blockquote cite{
	display: block;
	font-style: italic !important;
	font-weight: 300;
	opacity: 0.8;
	text-align: left;
	margin-top: 10px;
	color: #ffffff !important;
	text-transform: capitalize !important;
}
figure.wp-block-image,
.wp-block-cover.has-background-dim,
.wp-block-gallery,
.wp-block-button,
.single.single-post .article-content blockquote.wp-block-quote,
blockquote.wp-block-quote,
blockquote.wp-block-quote.is-large,
.wp-block-code,
.wp-block-audio,
.wp-block-video,
.wp-block-preformatted,
.wp-block-verse,
.wp-block-table,
.wp-block-separator,
.wp-block-spacer,
.wp-block-categories,
.wp-block-latest-posts,
.wp-block-embed,
.single.single-post .article-content p.wp-block-subhead,
p.wp-block-subhead   {
    margin-bottom: 60px;
	margin-top: 20px;
}
.wp-block-column p {
    margin-top: 15px;
}
.has-top-margin {
    margin-top: 60px;
}
.wp-block-embed-vimeo.wp-block-embed {
    margin-bottom: 0px;
}
blockquote footer, blockquote small, blockquote .small {
    background: transparent !important;
}
.adplace-blog-post {
    display: none;
}