/*------------------------------------------------------------------
[Responsive Stylesheet]

[Table of contents]

1.  Responsive Max_319px
2.  Responsive Min_320px Max_479px
3.  Responsive Max_479px
4.  Responsive Min_480px Max_767px
5.  Responsive Max_600px
6.  Responsive Min_681px Max_1200px
7.  Responsive Max_767px
8.  Responsive Min_768px Max_990px
9.  Responsive Min_768px Max_992px
10. Responsive Min_768px Max_1023px
11. Responsive Max_990px
12. Responsive Max_992px
13. Responsive Min_991px Max_1024px
14. Responsive Min_992px and Max_1199px
15. Responsive Max_1000px
16. Responsive Max_1024px
17. Responsive Min_1025 Max_1367px
18. Responsive Max_1200px
19. Responsive Min_1367px
20. Responsive Max_768px

-------------------------------------------------------------------*/

/*--- 1. Responsive Max_319px ---*/
@media only screen and (max-width: 319px) {
    footer .footer-top  .widget .widget-title{
        margin-bottom: 10px;
    }
    footer .widget.widget_text {
        margin-bottom: 20px;
    }
    .top_section .wpb_wrapper h1 span {
        font-size: 45px !important;
        line-height: 44px !important;
    }
    body header .navbar-header h1.logo {
        max-width: 140px;
    }
    .evdevtheme-countdown .days-name,
    .evdevtheme-countdown .hours-name,
    .evdevtheme-countdown .minutes-name,
    .evdevtheme-countdown .seconds-name{
    font-size: 11px !important;
    }
    .single-mt_listing .mt_listing_website_button,
    .single-mt_listing .mt_listing_whitepaper_button,
    .single-mt_listing .mt_listing_purchase_button,
    .single-mt_listing .mt_listing_video_button {
    padding: 15px 20px !important;
    margin: 0 !important;
    }
    .mt_listing_start_date_pick {
    padding: 15px 20px !important;
    }
    .related-listings-title h1{
        font-size: 30px !important;
    }
    .blog_custom_listings .goal {
        line-height: 24px;
    }
    .blog_custom_listings .percentange {
        line-height: 24px;
    }
    .evdev_preloader_holder .morph-loader::after{
        left: 0;
    }
    .evdev_preloader_holder .morph-loader div {
        left: 20px;
    }
    .evdev_preloader_holder .morph-loader {
        transform: scale(0.5);
    }
    .evdev-filter-content button[type="submit"] {
        width: fit-content !important;
    }
    .evdev-filter-content input[type="text"] {
        margin-bottom: 2%;
    }
    /* Add new rules for this interval below */


}

@media only screen and (max-width: 368px) {

}

/*--- 2. Responsive Min_320px Max_479px ---*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .testimonial-author-job > h4 {
        font-size: 14px;
    }
    .top_section .wpb_wrapper h1 span {
        font-size: 52px !important;
        line-height: 52px !important;
    }
    .nav-menu-account{
        width: 50% !important;
        display: inline-block !important;
    }
    .evdev_preloader_holder .morph-loader::after{
        left: 40%;
    }
    .evdev_preloader_holder .morph-loader div {
        left: 45%;
    }
    .evdev_preloader_holder .morph-loader {
        transform: scale(0.7);
    }
    /* Add new rules for this interval below */
    .error404 .search-form input[type="submit"],
    .error404 input.search-field {
        width: 100%;
    }
    .error404 .search-form label {
        width: 89%;
    }
}



/*--- 3. Responsive Max_479px ---*/
@media only screen and (max-width: 479px) {
    body.woocommerce ul.products li.product, 
    body.woocommerce-page ul.products li.product {
        width: 100% !important;
    }
    body .section-title.absolute.section-title-opacity {
        opacity: 0.03;
        font-size: 50px;
    }
    .header-title-breadcrumb .post-category-date {
        display: none;
    }
    .blog-posts-shortcode.blog-posts .list-view .post-details.format-video .post-name a {
        font-size: 12px !important;
    }
    .blog-posts-shortcode.blog-posts .list-view .post-details.format-video .post-name {
        left: 20px;
        right: 20px;   
        bottom: 50px;     
    }
    .blog-posts-shortcode.blog-posts .list-view .post-details.format-video .author {
        left: 20px;
        right: 20px;
        bottom: 20px;
        font-size: 10px !important;
    }
    .portfolio-items .col-md-2 {
        width: 100%;
        float: left;
        margin-bottom: 80px;
    }
    .tp-leftarrow.default, 
    .tp-rightarrow.default{
        display: none;
    }
    .menu-item-has-children::after{
        display: block !important;
    }
    .wpb_wrapper ul.ecs-event-list li {
        margin-bottom: 20px !important;
        width: 95% !important;
    }
    .avatar.photo {
        width: 50px;
    }
    .mt_cars--features-description .mt_car--important-features span img {
        display: block;
        margin: 0 auto;
    }
    .mt_car--important-features .car_number_passengers_value, .mt_car--important-features .car_luggage_value, .mt_car--important-features .car_gearbox_value {
        font-size: 11px;
    }
    .post-details-bottom .related-posts .related_blog_custom .post-name a {
        font-size: 15px;
    }
    p.copyright {
        line-height: 30px !important;
    }
    h3.post-name.row.car-name {
        padding: 5px;
    }
    h3.post-name.row.car-name a {
        font-size: 12px !important;
    }
    .single-mt_listing .mt_listing_website_button, 
    .single-mt_listing .mt_listing_whitepaper_button, 
    .single-mt_listing .mt_listing_purchase_button, 
    .single-mt_listing .mt_listing_video_button,
    .ico-info .mt_video_tour .mt_listing_video_button {
        margin: 0px 0px 0 0 !important;
        width: 100% !important;
        text-align: center !important;
    }
    .mt_listing_start_date_pick,
    .mt_listing_end_date_pick {
        padding: 15px 20px !important;
        width: 100% !important;
    }
    .mt_video_tour {
        margin: 0 !important;
        width: 100% !important;
    }
    .evdev-filter-content button[type="submit"] {
        padding: 18px 13px !important;
    }
    .single-icondrops-content .social-links li {
        width: 30% !important;
    }
    /* Add new rules for this interval below */
    .stats-content p {
        font-size: 14px !important;
    }
    .widget_evdev_recent_entries_with_thumbnail .post-thumbnail {
        width: 25% !important;
    }
    .sidebar-content .widget_evdev_recent_entries_with_thumbnail .post-details {
        width: 75% !important;
    }
    #mt_posts_carousel_big .owl-nav, 
    #mt_posts_carousel_big_centered .owl-nav, 
    #mt_posts_carousel_big.owl-theme .owl-controls {
        top: 35%;
    }
    #mt_posts_carousel_big .owl-nav .owl-prev, 
    #mt_posts_carousel_big_centered .owl-nav .owl-prev, 
    #mt_posts_carousel_big.owl-theme .owl-controls .owl-buttons div.owl-prev {
        left: 10px;
    }
    #mt_posts_carousel_big .owl-nav .owl-next, 
    #mt_posts_carousel_big_centered .owl-nav .owl-next, 
    #mt_posts_carousel_big.owl-theme .owl-controls .owl-buttons div.owl-next {
        right: 10px;
    }
    .testimonials-container-1 .testimonial01_item {
        width: 80%;
    }
    .location-single-form > div{
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
    .woocommerce-page table.cart td.actions .coupon .button{
        width: 100% !important; 
    }
    #sb_instagram.sbi_col_6.sbi_disable_mobile #sbi_images .sbi_item {
        width: 50% !important;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text {
        margin-bottom: .5em;
        width: 100% !important;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
	    display: block;
	}
    .woocommerce div.product .summary form.cart .button{margin-top: 10px; width: 100%;}
}



/*--- 4. Responsive Min_480px Max_767px ---*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .portfolio-items .col-md-2 {
        width: 50%;
        float: left;
        margin-bottom: 80px;
    }
    .menu-item-has-children::after{
        display: none !important;
    }
    .top_section .wpb_wrapper span {
        line-height: 80px;
    }
    h2.vc_custom_heading {
        font-size: 40px !important;
        line-height: 40px !important;
    }
    header .navbar-toggle {
        margin-top: 45px !important;
    }
    .avatar.photo {
        width: 50px;
    }
    .nav-menu-account{
        width: 50% !important;
        display: inline-block !important;
    }
    .mtlistings-events-style-v2 .mt-single-event .timeline_image_holder img {
        max-width: 50%;
    }
    body.woocommerce ul.products li.product.col-md-4, 
    body .woocommerce-page ul.products li.product.col-md-4 {
        width: 50% !important;
    }

    /* Add new rules for this interval below */


}
@media only screen and (min-width: 480px) and (max-width: 768px) {
 body.woocommerce ul.products li.product.col-md-4, 
    body .woocommerce-page ul.products li.product.col-md-4 {
        width: 50% !important;
    }
    .woocommerce ul.products li.product .archive-product-title{font-size: 18px !important;}
}

/*--- 5. Responsive Max_600px ---*/
@media only screen and (max-width: 600px) {
    .post-category-comment-date.col-md-6 span {
        width: 100%;
        margin-top: 10px;
    }
    .single-post-share {
        display: none;
    }
    .bitwallet-single-point .bitwallet-more-info {
        display: none;
    } 
    .category-list-shortcode img.category-list-img {
        height: 100% !important;
    }
    body .mt-post-format-icon-badge {
        width: 60px !important;
        height: 60px !important;
        font-size: 16px !important;
        line-height: 60px !important;
    }
    .bitwallet-single-point {
        display: none;
    }
    body .mt-posts-carousel-v2 .overlay_image_v2 {
        background-image: linear-gradient(to bottom, transparent 0%, rgba(34, 34, 34, .8) 100%) !important;
    }
    .woocommerce-page.columns-1 ul.products li.product, 
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 .blog-posts ul.products li.product, 
    .woocommerce.columns-1 .blog-posts ul.products li.product {
        width: 100% !important;
    }
    .woocommerce ul.products li.product .star-rating {
        bottom: 30px !important;
    }
    /* Add new rules for this interval below */


}



/*--- 6. Responsive Min_681px Max_1200px ---*/
@media only screen and (min-width: 681px) and (max-width: 1200px) {
    .wpb_wrapper ul.ecs-event-list li {
        margin-bottom: 20px !important;
        width: 30% !important;
    }
    /* Add new rules for this interval below */


}



/*--- 7. Responsive Min_768px ---*/
@media only screen and (min-width: 768px) {
    #navbar .menu-item .sub-menu .menu-item .sub-menu {
        left: 104%;
        -webkit-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out 0s;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    #navbar .menu-item:hover .sub-menu .menu-item:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        top: -5px;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    .hide-on-desktops{
        display: none !important;
    }
    .spacing_mobile{
        display: none !important;
    }
    .home-sidebar-right .vc_column-inner{
        padding-left: 45px !important;
    }
    .sidebar-left{
      padding-right: 45px !important;
    }
    .sidebar-right{
      padding-left: 45px !important;
    }
}


@media only screen and (max-width: 767px) {

    .archive .evdev-single-list-item .featured-icon.relative {
        text-align: left;
    }
    .add-banner-header {
        float: none !important;
        margin: 10px auto !important;
        width: 100% !important;
    }
    .logo-infos-row.add_place_banner .social-links {
        float: none !important;
        margin: 32px auto !important;
        text-align: center !important;
    }
    #evdevtheme-main-head .cf-mega-menu.sub-menu {
        display: none;
    }
    .archive .evdev-metas > div {
        margin-top: 10px;
    }
    .header3 #navbar {
        text-align: left !important;
        padding: 0 5px 15px;
    }
    .list_description{
        margin-bottom: 0px !important;
    }
    #navbar .sub-menu::before {
        display: none;
    }
    #evdevtheme-main-head > .container .row {
        border: 0 !important;
    }
    body.is_header_semitransparent .header3 .logo-infos, 
    body.is_header_semitransparent .header3 #evdevtheme-main-head {
        background: #222 !important;
    }
    body.is_header_semitransparent header .navbar-toggle {
        border-color: #fff !important;
    }
    body.is_header_semitransparent .navbar-toggle .icon-bar {
        background: #fff !important;
    }
    .woocommerce a.added_to_cart {
        font-weight: 600;
    }
    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
        float: left;
        margin-top: 20px;
    }
    .archive .row-1items .evdev-details, 
    .archive .blog-posts .evdev-details,
    .archive .row-1items .evdev-img-left, 
    .archive .blog-posts .evdev-img-left{
        width: 100%;
    }
    .blog_custom_listings .evdev-details-content,
    .ico-cat-parent-title > p {
        line-height: normal;
    }
    body .row-2items.last_item_row {
        padding-left: 0 !important;
    }
    .blog-posts-shortcode.blog-posts .list-view .post-details.format-video .mt-post-format-icon-badge,
    .blog-posts-shortcode.blog-posts .list-view .post-details.format-video span.post-tags {
        display: none;
    }
    .evdev-filter-block {
        overflow: hidden;
        float: left;
        width: 100%;
    }
    body .mt-car-search .slider-state-search .search-field.form-control {
        width: calc(100% - 20px) !important;
    }
    .mt-car-search .submit {
        margin-top: 20px !important;
    }
    .mt-car-search form {
        background: transparent !important;
    }
    .mt-car-search .slider-state-search .search-field.form-control {
        border-radius: 0 !important;
    }
    span.select2-selection__arrow::after{
        display: none !important;
    }
    .is_header_semitransparent header {
        position: relative !important;
    }
    .is_header_semitransparent .navbar-default {
        background: #222222 !important;
    }
    .testimonial02_text_content p {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .testimonial02_text_content {
        margin-top: 0px;
    }
    .landing-slider .landing-particles-header {
        font-size: 28px !important;
        line-height: 1.5 !important;
        margin-bottom: 30px !important;
        padding: 0 15px;
    }
    .landing-slider .cd-product-intro {
        padding: 0;
    }
    .landing-slider .inner-top {
        padding-top: 80px !important;
    }
    .landing-slider p {
        padding: 0 15px;
    }
    .landing-slider div#view-demos {
        padding-top: 10px !important;
    }
    div#demos {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .countdownv2_holder .countdownv2 {
        width: 200px;
    }
    .countdownv2_holder .flip-clock-divider .flip-clock-label {
        padding-top: 23px !important;
        display: block !important;
        position: static !important;
    }
    .countdownv2_holder .flip-clock-divider {
        width: 100% !important;
        height: auto !important;
        float: none;
        font-size: 14px;
    }
    .countdownv2_holder .flip-clock-dot {
        display: none;
    }
    .flip-clock-wrapper ul {
        width: 44%  !important;
        margin: 3% !important;
    }
    .exchange_calculator #btc_calc input.currency1value {
        width: 50% !important;
        display: block !important;
        margin: 10px auto !important;
    }
    .exchange_calculator #btc_calc input.currency2value {
        width: 50%  !important;
        display: block  !important;
        margin: 10px auto !important;
    }
    .exchange_calculator #btc_calc select.currency_switcher {
        width: 50%  !important;
        display: block  !important;
        margin: 10px auto !important;
    }
    .footer-landing #heading-footer-landing h1 span {
        font-size: 30px !important;
    }

    .cd-timeline-content .cd-read-more {
        float: left !important;
    }

    body.missing-redux-framework .menu.nav-effect.nav-menu,
    body.missing-evdevtheme-framework .menu.nav-effect.nav-menu {
        width: 100% !important;
    }
    .exchange-calculator-top #btc_calc input.currency1value,
    .exchange-calculator-top #btc_calc input.currency1value ,
    .exchange-calculator-top #btc_calc input.currency2value ,
    .exchange-calculator-top #btc_calc select.currency_switcher {
        width: 100% !important;
        padding: 20px 0 !important;
        margin: 20px 0 !important;
    }
    body.missing-evdevtheme-framework.header4 header #navbar .sub-menu .menu-item > a,
    body.missing-redux-framework.header4 header #navbar .sub-menu .menu-item > a{
        color: #222222;
    }
    header .header-infos .header-info-icon {
        display: none;
    }
    header .header-info-group .header-info-labels p {
        line-height: normal;
        margin: 0;
        padding: 0 !important;
    }
    header .header-infos .header-info-labels{
        padding: 0;
        float: none !important;
    }
    header .header-info-group {
        margin: 0;
    }

    header #navbar .sub-menu {
        box-shadow: none !important;
    }
    header #navbar .menu-item .sub-menu .menu-item .sub-menu {
        left: 0;
        opacity: 1 !important;
        top: 0;
        visibility: visible !important;
    }
    #comments .children{
        padding: 0 !important;
    }
    header .navbar-toggle {
        margin-top: 21px !important;
    }
    #evdevtheme-main-head-sticky-wrapper {
        height: 78px !important;
    }
    header.header1 {
        height: auto !important;
    }
    header #navbar .cf-mega-menu.sub-menu * {
        opacity: 1 !important;
        visibility: visible !important;
    }
    .cf-mega-menu span {
        color: #000000 !important;
    }
    #navbar .menu-item .sub-menu .menu-item .sub-menu {
        left: 0;
        position: relative;
        top: 0;
    }
    body header #navbar .sub-menu li:last-child, body header #navbar .sub-menu li {
        border-bottom: 0 none;
    }
    body #navbar .sub-menu li:last-child, body #navbar .sub-menu li {
        border-bottom: 0 none;
    }
    header #navbar .sub-menu .menu-item > a {
        color: #151515 !important;
        font-weight: 600;
        text-transform: uppercase;
    }
    .is_header_semitransparent header #navbar .sub-menu .menu-item > a {
        color: #fff !important;
    }
    body.is_header_semitransparent.navstyle-v1.header3 #navbar .menu > .menu-item > a:hover,
    body.is_header_semitransparent.navstyle-v1.header3 #navbar .menu > .menu-item:hover > a {
        color: #fff !important;
    }
    .mt-icon-list-item .mt-icon-list-text {
        color: #000000 !important;
        font-weight: bolder;
    }
    header #navbar .menu-item:hover .sub-menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        opacity: 1 !important;
        top: 0 !important;
        visibility: visible !important;
    }
    header #navbar .sub-menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        display: block;
        opacity: 1;
        padding: 0 !important;
        position: relative;
        visibility: visible;
        top: 0;
        width: 100%;
    }
    header #navbar .sub-menu .menu-item > a {
        padding-left: 40px !important;
    }
    header #navbar .sub-menu .sub-menu .menu-item > a {
        padding-left: 60px !important;
        margin:0px;
    }
    header #navbar .sub-menu .sub-menu .sub-menu .menu-item > a {
        margin-left: 45px;
    }
    .navbar-collapse .menu .menu-item {
        text-align: left;
    }
    body header #navbar .menu-item > a {
        padding: 3px 20px !important;
        color: #151515;
    }
    header .navbar-header h1.logo {
        margin: 20px 10px;
        max-width: 200px;
        text-align: left;
    }
    .navbar {
        min-height: 0px !important;
    }
    .related-posts .post-name a {
        font-size: 20px;
    }
    .single.single-post .post-name {
        font-size: 25px;
        line-height: 30px;
    }
    .related-posts {
        padding: 0 15px;
    }
    .header-title-breadcrumb .header-title-breadcrumb-overlay h1,
    .header-title-breadcrumb .header-title-breadcrumb-overlay h1 span{
        font-size: 20px;
        text-align: center;
    }
    .header-title-breadcrumb .header-title-breadcrumb-overlay .breadcrumb {
        text-align: center;
        padding-top: 0px;
    }
    .header-group .breadcrumb{
        display: none;
    }
    .widget_text .shop_feature_v2 .shop_feature_icon_v2 {
        padding: 7px;
    }
    .sticky_post_text_container {
        margin-bottom: 30px;
    }
    .courses-list .course_text_content h5 {
        clear: both;
    }
    .courses-list .course_more_container {
        text-align: right !important;
    }
    .courses-list .all_courses_box .all_courses_title {
        padding-top: 10px;
    }
    .all_courses_box .all_courses_buton {
        margin-bottom: 30px;
    }
    .all_courses_box {
        margin-bottom: 30px;
    }
    .shortcode_post_content .text_content .post-download-icons {
        display: none;
    }
    .pricing-table {
        margin-top: 30px;
    }
    .search_products {
        display: none;
    }
    body .navbar-header .logo {
        margin: 10px 0;
        text-align: center;
    }
    footer p.copyright {
        padding-top: 0;
        text-align: center;
    }
    footer .payment-methods{
        text-align: center;
    }
    footer .payment-methods img {
        float: none !important;
    }
    .top-header .account-urls {
        margin-top: 10px;
    }
    .widget .widget_address_social_icons .social-links > li:first-child{
        margin-left: 0;
    }
    .widget .widget_address_social_icons .social-links a i {
        padding: 13px;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    .widget .widget_address_social_icons .social-links a {
        height: 40px;
        width: 40px;
    }
    .widget .widget_address_social_icons .social-links > li {
        height: 40px;
        margin-bottom: 5px;
        margin-right: 1px;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        width: 40px;
    }
    .evdevtheme-breadcrumbs h2{
        font-size: 17px;
    }
    .latest-posts .single-post .vc_col-md-3.text-center {
        display: none;
    }    
    footer nav.menu {
        float: left;
    }
    footer nav.menu li:first-child a {
        margin-left: 0;
    }
    body .navbar ul li:hover ul.sub-menu {
        border: 0 none;
        left: 0;
        margin: 0;
        opacity: 1;
        position: relative;
        top: 0;
        visibility: visible;
        width: 100%;
    }
    .menu-item-has-children {
        cursor: pointer;
    }
    body .navbar ul li ul.sub-menu {
        border: 0 none;
        left: 0;
        margin: 0;
        opacity: 1;
        position: relative;
        top: 0;
        display: none;
        visibility: visible;
        width: 100%;
    }
    body #navbar .sub-menu li:last-child,
    body #navbar .sub-menu li {
        border-bottom: 1px solid #3d4f61;
        position: relative;
    }
    .widget.widget_flickr {
        clear: both;
    }
    .widget_recent_entries_with_thumbnail .thumbnail-overlay {
        width: 70px;
    }
    .widget_recent_entries_with_thumbnail .post-details {
        padding: 0;
    }
    body .navbar-default .navbar-collapse.collapsing, body .navbar-default .navbar-form {
        border-color: rgba(0, 0, 0, 0);
        padding: 0px;
        /*height: 297px !important;*/
        position: absolute;
        background-color: #ffffff;
        overflow-x: hidden;
    }
    .navbar-collapse.vc_col-md-9.collapse.in {
        width: 100%;
    }
    .navbar-collapse li {
        width: 100%;
    }
    .header_mini_cart {
        display: none;
    }
    body .navbar ul li ul.sub-menu li::before {
        content: none;
        position: absolute;
        top: 10px;
        color: white;
        left: 14px;
    }
    .evdevtheme-breadcrumbs .breadcrumb {
        display: none;
    }
    .menu.nav-effect.nav-menu {
        margin: 0;
        text-align: left;
        width: 100%;
    }
    #dropdown-user-profile {
        width: 90%;
        margin: 0 20px;
    }
    .smartowl_skin_switcher {
        display: none;
    }
    body .navbar-nav > li > a {
        padding: 15px 0;
    }
    .navbar-collapse.collapse.in .menu .item:hover {
        background: #253749;
    }
    .navbar-collapse .menu .item,
    .navbar-collapse.collapse.in .menu .item {
        width: 100%;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .logo {
        margin: 15px 0;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle {
        margin: 20px 15px !important;
        transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
    }
    #navbar .menu-item > a {
        padding: 15px 10px 24px;
    }
    header.header3 .navbar-nav.nav-menu,
    header.header10 .navbar-nav.nav-menu {
        margin-right: 0px !important;
    }
    header.header4 .navbar-nav.nav-menu,
    header.header11 .navbar-nav.nav-menu {
        margin-left: 0px !important;
    }
    #mt-nav-burger {
        display: none;
    }
    .logo img, .navbar-header .logo img {
        max-width: 100% !important;
    }
    header.header5 #navbar .menu .menu-item {
        text-align: left;
    }
    .main-row{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    header.header12 .navbar .logo {
        display: block !important;
    }
    header.header12 #navbar .menu .menu-item {
        text-align: left;
    }
    header.header12 .navbar-nav > li::before {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    }
    header.header12 .navbar-default .navbar-toggle .icon-bar {
        background: #131313 none repeat scroll 0 0;
    }
    header.header12 .navbar.navbar-default {
        background-color: rgba(0, 0, 0, 0.9) !important;
    }
    header.header12 #navbar .menu-item > a:hover::before {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    }
    header.header12 #navbar .menu-item > a {
        padding: 15px 10px !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #00adf1;
    }
    #evdevtheme-main-head .navbar-collapse.col-md-9,
    #evdevtheme-main-head .navbar-collapse.collapse.col-md-9 {
        margin: 0;
        width: 100%;
        padding-bottom: 20px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .portfolio .col-md-2:nth-child(7n+5),
    .portfolio .col-md-2:nth-child(7n+1){
        margin-left: 0;
        clear: none;
    }
    .testimonials .testimonials-container blockquote{
        font-size: 16px;
    }
    .testimonials .testimonials-container blockquote::after,
    .testimonials .testimonials-container blockquote::before{
        font-size: 100px;
        top: 34%;
    }
    .submit-comment .comment-form .form-comment {
        padding: 0;
    }

    body .portfolio-items .vc_col-md-2:last-child{
        margin-bottom: 0;
    }
    body .portfolio-items .vc_col-md-2{
        margin-bottom: 80px;
    }
    body .portfolio-items .vc_col-md-2:nth-child(7n+5),
    body .portfolio-items .vc_col-md-2:nth-child(7n+1) {
        margin-left: 0;
    }
    body .testimonials-container blockquote * {
        font-size: 16px;
    }
    .testimonials-container blockquote::after,
    .testimonials-container blockquote::before{
        content: "";
        display: none;
    }
    .testimonials-container blockquote {
        padding: 20px 0 20px;
        margin: 0;
    }
    #navbar .menu .item a {
        padding: 10px 0;
        padding-left: 10px;
    }
    body .theme_header_slider .tp-leftarrow.default::after, 
    body .theme_header_slider .tp-rightarrow.default::after {
        font-size: 50px;
        line-height: 60%;
        opacity: 0.75;
    }
    #navbar .menu-item.menu-item-has-children > a::after {
        content: none !important;
    }
    .expand {
        padding: 0 20px;
        position: absolute;
        right: 0px;
        top: 10px;
    }
    .action-expand::after {
        color: #ffd600;
        content: "\f107";
        font-family: FontAwesome;
    }
    .action-expand.show-menu::after {
        content: "\f106";
        font-family: FontAwesome;
    }
    #navbar .menu-item-has-children .expand a {
        padding: 3px 13px;
    }
    header.header8 .header-nav-actions {
        display: none !important;
    }
    header.header8 .menu.nav-effect.nav-menu {
        float: left !important;
    }
    header.header9 .header-nav-actions {
        display: none !important;
    }
    header.header9 .header-nav-actions {
        display: none !important;
    }
    body header.header9 .navbar-header h1.logo {
        text-align: left !important;
    }
    .mt_listing_countdown .row{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .evdevtheme-countdown .days,
    .evdevtheme-countdown .hours,
    .evdevtheme-countdown .minutes,
    .evdevtheme-countdown .seconds {
        width: 25% !important;
        margin: 0px !important;
    }
    .single-mt_listing .mt_listing_website_button, 
    .single-mt_listing .mt_listing_whitepaper_button, 
    .single-mt_listing .mt_listing_purchase_button, 
    .single-mt_listing .mt_listing_video_button {
        margin: 10px 6px 0 0 !important;
    }
    .mt_listing_start_date_pick {
        margin: 0px !important;
    }
    .rating-margin-top {
        margin-top: 0 !important;
    }
    .thumbs-rating-container {
        padding: 2px 0 40px !important;
    }
    .thumbs-rating-voted{
        display: inline-block !important;
        width: 49% !important;
    }
    header.header1 .nav-menu-account a {
        margin: 10px 15px !important;
    }
    header.header1 .nav-menu-account#nav-menu-login a{
        margin-right: 7.5px !important;
    }
    header.header1 .nav-menu-account#nav-menu-register a{
        margin-left: 7.5px !important;
    }
    .mt-listings-popular-searches-parent {
        margin-top: 20px;
    }
    .mt-listings-popular-searches {
        margin-top: 10px;
        padding-left: 10px;
    }
    .mt-listings-popular-searches li {
        margin-bottom: 5px;
    }
    .mt-car-search .select2.select2-container .select2-selection {
        border-right: 2px solid transparent !important;
    }
    .mt-car-search .submit {
        margin-top: 20px;
    }
    .mt-car-search .search-field.form-control {
        padding-left: 14px !important;
    }
    span.select2-selection__arrow:after {
        width: 0px !important;
    }
    #navbar .sub-menu .menu-item > a {
        line-height: 34px !important;
    }
    body.is_header_semitransparent  header #navbar .menu-item > a {
            border-bottom: 1px solid rgba(255,255,255, 0.1);
    }
    body header #navbar .menu-item-18142 a {
        border-bottom: 0px solid rgba(255,255,255, 0.1) !important;
    }
    .nav-menu-account#nav-menu-list{
        width: 100% !important;
    }
    #navbar .menu .menu-item a::after {
        display: none; 
    }
    .blog-posts.blog-posts-shortcode-v2 .blog_custom .post-details .post-name a {
        font-size: 22px;
    }
    footer .menu .menu-item a {
        margin-left: 0px !important; 
        margin-right: 10px !important;
    }
    .footer-top .widget_nav_menu ul {
        text-align: left !important; 
    }
    .status-meta-sidebar.main-content{
        clear: both;
    }
    #mt_posts_carousel_small .owl-item {
        padding: 30px 0px 20px;
    }
    #dropdown-user-profile ul {
        display: none;
    }
    .header1 .nav-menu-account {
        margin: 0px 0px 15px !important;
    }
    #dropdown-user-profile ul::before{
        display: none;
    }
    .header1 .actions-group {
        padding: 10px 0 !important;
    }
    .home_our_premium_flower.vc_row {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        background-size: auto !important;
    }
    .home_our_premium_flower .evdevtheme_button{
        margin-bottom: 20px !important;
    }
    .home_find{
        padding-top: 90px !important;
    }
    .testimonials-shortcode-v1 .owl-dots{
        display: none;
    }
    .home_testimonials.vc_row{
            padding-bottom: 55px !important;
    }
    .about-us-video-row.vc_row{
        margin-top: 00px !important;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        background-image: none !important;
    }
    .about-us-video-text{
        padding-bottom: 55px;
    }
    .evdev-faq .faq-sidebar-links{
        padding-top: 30px !important;
        padding-bottom: 30px;
    }
    .header1 .nav-menu-account {
        width: 100% !important;
        display: block !important;
    }


    /* Add new rules for this interval below */

    .spacing_mobile_40{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .vc_row.spacing_mobile_40{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    #listings_metaboxs table tr td {
        padding-right: 10px !important;
    }
    #listings_metaboxs table tr th {
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
    .mt-single-event-inner .event-meta{
        display: none;
    }
    .pagination .page-numbers {
        margin: 0 5px 5px !important;
    }
    .sidebar-content .widget.widget_evdev_social_share {
        padding-bottom: 0px !important;
    }
    .related-posts {
        margin: 40px 0 !important;
    }
    .vc_row.spacing_contact_form{
        padding-bottom: 40px !important;
    }
    .space_mobile_hide{
        display: none !important;
    }
    .blog_custom_listings .post-name-listings span{
        display: block !important;
        margin-top: 5px !important;
    }
    .row-1items .evdev-img-left{
        margin-right: 10px !important;
    }
    .row-4items .evdev-img-left{
        width: initial !important;
        margin-right: 15px !important;
    }
    .mt-car-search .slider-state-submit input {
        padding: 10px !important;
        font-size: 15px !important;
    }
    img.testimonial-member-img {
        margin-bottom: 10px !important;
    }
    .mt_listing_button {
        padding: 0px 0 10px !important;
    }
    .header-title-breadcrumb-overlay {
        padding: 30px 0 !important;
    }
    .section-subtitle {
        margin-top: 10px !important;
    }
    .blog_custom_listings .evdev-details-content {
        margin: 8px 0px 0px !important;
    }
    .mt-single-event .timeline_image_holder img{
        max-width: 60px !important;
    }
    .stats-block .stats-img img {
        display: none;
    }
    .high-padding {
        padding: 20px 0 !important;
    }
    .header3 #mt-nav-burger {
        top: -30px !important;
    }
    .evdevtheme-pagination .pagination{
        margin-bottom: 40px !important;
    }
    #evdevtheme-main-head #navbar .sub-menu .menu-item > a:hover {
        transform: none;
        -webkit-transform:none;
    }

}
/*--- 20. Responsive Max_768px ---*/
@media only screen and (max-width: 768px) {
    .woocommerce ul.products[class*=columns-] li.product, 
    .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
    }
    .woocommerce ul.products li.product .button {
        width: 100%; 
        margin-right: 0px; 
        margin-top: 20px;
    }
    .woocommerce ul.products li.product .price {
        width: 100% !important;
        padding-top: 0px !important;
    }
    .woocommerce ul.products li.product .product-meta {
        width: 100% !important;
        padding-top: 0px !important; 
    }
    .woocommerce ul.products li.product .button {
     
        margin-bottom: 20px;
        margin-right: 0px !important; 
    }
    .product .related.products ul.products li.product .price{
        margin: 0px !important;
    }
    .copyright_left {
        width: 100%;
    }
    body h1, body h1 span {
        font-size: 26px !important;
        line-height: 29px !important;
    }
    .navbar-header {
        padding-left: 0;
    }
    header.header1 .nav-menu-button a {
        margin: 25px 20px !important;
    }
    .header1 #navbar {
        -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.16) !important;
        -moz-box-shadow: 0 5px 5px rgba(0,0,0,.16) !important;
        box-shadow: 0 5px 5px rgba(0,0,0,.16) !important;
    }
    .woocommerce ul.products li.product .button {
        padding: 12px 0px !important;
    }


}

/*--- 8. Responsive Min_768px Max_990px ---*/
@media only screen and (min-width: 768px) and (max-width: 990px) {
    header.header1  .header-nav-actions {
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: auto !important;
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: auto !important;
    }
    .fixed-sidebar-menu.open {
        width: 50% !important;
    }
    .nav-menu-account{
        display: -webkit-inline-box !important;
    }
    .nav-menu-account a{
        width: 220px !important;
    }
    .evdevtheme-countdown div:first-child {
        margin-left: -15px !important;
    }
    .sidebar-content .widget_search .search-submit {
        padding: 12px 5px !important;
    }

}



/*--- 9. Responsive Min_768px Max_992px ---*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .header-nav-actions .mt-search-icon {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .header-infos .header-info-labels {
        padding-left: 5px !important;
    }
    .header-info-group .header-info-labels p {
        margin-right: 15px !important;
    }
    body .header-nav-actions .mt-search-icon {
        padding: 5px 15px !important;
    }
    .single-mt_listing .mt_listing_website_button{
        margin-top: 15px;
    }

}



/*--- 10. Responsive Min_768px Max_1023px ---*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    footer .payment-methods img {
        float: none !important;
    }
    body.widgets_v2 .sidebar-content .widget h1 {
        font-size: 22px !important;
    }
    footer p.copyright {
        padding-top: 0;
        text-align: center;
    }
    footer .payment-methods{
        text-align: center;
    }
    .navbar-nav > li > a {
        padding: 30px 0;
    }
    .widget .widget_address_social_icons .social-links > li:first-child {
        margin-left: 3px;
    }
    .navbar-collapse.collapse.vc_col-md-9 {
        float: left;
    }
    body .navbar-nav > li > a,
    body .menu .item a{
        font-size: 12px;
    }
    #navbar .menu .item a {
        padding: 30px 0;
    }
    .evdevtheme-breadcrumbs h2{
        font-size: 19px;
    }
    .evdevtheme-breadcrumbs .breadcrumb{
        display: none;
    }
    header.header2 .navbar-header h1.logo {
        text-align: center !important;
    }
    header.header8 .mt-nav-burger-holder {
        padding: 0 !important;
    }
    body header.header8 #mt-nav-burger {
        top: 28px !important;
    }
    body header.header9 .navbar-header h1.logo {
        text-align: center !important;
    }
    body header.header9 .mt-nav-burger-holder {
        padding: 0px !important;
    }
    body header.header9 #mt-nav-burger {
        top: 28px !important;
    }
    body header.header9 .menu.nav-effect.nav-menu {
        width: 85% !important;
    }
    body header.header9 .header-nav-actions .mt-search-icon {
        margin-right: 35px !important;
    }
    .single-mt_listing .mt_listing_purchase_button {
        margin: 0 10px 0 0 !important;
    }
    .rating-margin-top {
        margin-top: 0!important; 
    }
    .thumbs-rating-container {
        padding: 0 0 40px 0 !important;
    }
    .thumbs-rating-container .thumbs-rating-up,
    .thumbs-rating-container .thumbs-rating-down {
        display: inline-block !important;
    }
    .blog-posts .evdev-img-left {
        width: 14.5% !important;
    }
    .blog-posts .evdev-details {
        width: 85.5% !important;
    }
    .mt-car-search .search-field.form-control {
        padding-left: 20px !important;
    }
    span.select2-selection__arrow:after {
        width: 0px !important;
    }
    .mt-car-search form {
        padding: 3px 3px 3px 3px !important;
    }
    /* Add new rules for this interval below */
    .spacing_tablets_60{
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .vc_row.spacing_tablets_60{
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .vc_row.spacing_tablets_home_search{
        padding-top: 280px !important;
        padding-bottom: 60px !important;
    }
    .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner{
        padding-top: 0px !important;
    }
    .vc_row.spacing_tablets_page_title{
        padding-top: 250px !important;
        padding-bottom: 60px !important;
    }
    .spacing_tablet_hide{
        display: none !important;
    }
    .mt-single-event-inner .event-meta {
        display: none;
    }
    .sidebar-content .widget.widget_evdev_social_share {
        padding-bottom: 0px !important;
    }
    .related-posts {
        margin: 60px 0 !important;
    }
    .space_mobile_hide{
        display: none !important;
    }
    .vc_row.spacing_contact_form{
        padding-bottom: 60px !important;
    }
    .blog_custom_listings .post-name-listings span{
        display: block !important;
        margin-top: 0px !important;
    }
    .row-1items .evdev-img-left{
        margin-right: 10px !important;
    }
    .row-3items .blog_custom_listings .post-name-listings span {
        margin-top: 0px !important;
    }
    .row-4items .evdev-img-left{
        width: initial !important;
        margin-right: 15px !important;
    }
    .widget_evdev_recent_icos_with_thumbnail .post-thumbnail.vc_col-xs-3 {
        width: 12% !important;
    }
    .stats-block .stats-img img {
        display: none;
    }
    .widget_evdev_recent_entries_with_thumbnail .post-thumbnail {
        width: 70px !important;
    }
    .sidebar-content .widget_evdev_recent_entries_with_thumbnail .post-details {
        width: 100% !important;
        padding: 0px !important;
    }
    .widget_evdev_recent_entries_with_thumbnail .post-details-date,
    .widget_evdev_recent_entries_with_thumbnail .post-date {
        font-size: 12px !important;
    }
    .high-padding {
        padding: 40px 0 !important;
    }
    .header3 #mt-nav-burger {
        top: -30px !important;
    }
    .evdevtheme-pagination .pagination{
        margin-bottom: 40px !important;
    }
    .widget_evdev_recent_entries_with_thumbnail .post-thumbnail {
        margin-bottom: 10px;
    }
    #mt_posts_carousel_small .owl-item {
        padding: 30px 0px 20px;
    }
    .testimonials-shortcode-v1 .owl-dots{
        display: none;
    }
    .home_testimonials.vc_row{
            padding-bottom: 55px !important;
    }
    li#nav-menu-list {
        display: inline-block;
        width: 50%;
    }
    .header1 .nav-menu-account,
    header.header1 .nav-menu-button a {
        margin: 6px 5px !important;
    }
    .home_our_premium_flower.vc_row {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .vc_row.home_find {
        padding-bottom: 55px !important;
    }
    .location-single-form > div {
        margin-right: 50px !important;
        margin-bottom: 50px !important;
        margin-left: 50px !important;
    }
    .vc_row.about-us-video-row{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}



/*--- 11. Responsive Max_990px ---*/
@media only screen and (max-width: 990px) {
    .mt-car-search .select2.select2-container.select2-container--default {
        width: 100% !important;
    }
    .mt-car-search .search-field.form-control {
        width: 88% !important;
    }
    .list-view .blog_custom {
        display: block !important;
    }
    .odd-post .blog_post_image {
        padding-top: 48px !important;
    }
    .even-post .blog_post_image {
        padding-bottom: 48px !important;
    }
    .blog_post_image {
        display: block;
    }
    .mt-car-search .search-field.form-control {
        padding-left: 20px !important;
    }
    .mt-single-event-innerhead-left p{
        text-align: center;
    }
    .mt-single-event-innerhead-right{
        display: none;
    }
    .row-1items .evdev-img-left,
    .blog-posts .evdev-img-left {
        width: 100%;
    }
    .row-1items .evdev-img-left a,
    .blog-posts .evdev-img-left a {
        text-align: left;
    }
    .evdev-metas-single-meta{
        margin-top: 10px;
    }
    #sb_instagram.sbi_col_6.sbi_disable_mobile #sbi_images .sbi_item {
        width: 33.333333333%;
    }
    /* Add new rules for this interval below */


}



/*--- 12. Responsive Max_992px ---*/
@media only screen and (max-width: 992px) {
    footer p.copyright {
        line-height: 1.5 !important;
    }
    #navbar .menu-item > a {
        font-size: 12px !important;
    }
    .comment_body .author_name {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .comment-meta.commentmetadata {
        padding-left: 0px;
    }
    footer aside.widget {
        margin-bottom: 30px !important;
        margin-top: 0 !important;
    }
    footer .social-links {
        float: none !important;
        line-height: 50px !important;
        text-align: left;
    }
    .single-post .article-content {
        padding: 50px 0px 100px !important;
    }
    body .page-spacing {
        padding: 0 !important;
    }
    .single-post-share {
        text-align: left !important;
        margin-top: 30px;
    }
    .single-post-share span {
        padding-left: 0 !important;
    }
    .blog-posts-shortcode.blog-posts .overlay_image_video {
        background-image: linear-gradient(to bottom, transparent 0%, rgba(34, 34, 34, .9) 100%) !important;
    }
    .blog-posts-shortcode.blog-posts .list-view .post-details {
        padding: 30px 0;
    }
    #mt_posts_grid_v1.mt-posts-carousel-v2:not(.no_spacing) .article-1,
    #mt_posts_grid_v3.mt-posts-carousel-v2:not(.no_spacing) .article-1,
    #mt_posts_grid_v3.mt-posts-carousel-v2:not(.no_spacing) .article-3 {
        margin-top: 30px;
    }
    .newsletter input[type="email"] {
        margin-bottom: 10px;
    }   
    .container.footer {
        text-align: center;
    }
    a.logo-footer {
        line-height: 50px !important;
    }
    .footer-div-parent .footer {
        padding-bottom: 20px;
    }
    .footer-div-parent .footer .container_inner_footer {
        padding-top: 20px !important;
    }
    .blog_custom .post-details .description_container {
        display: block;
    }
    .description_container .blog_post_image {
        width: 100%;
    }
    .mt_car--important-features .car_number_passengers,
    .mt_car--important-features .car_luggage,
    .mt_car--important-features .car_gearbox {
        display: inline-block;
        width: 33.3%;
    }
    .post-details-bottom .related-posts .post {
        margin-bottom: 40px;
    }
    .post-details-bottom .related-posts .related_blog_custom img {
        width: 100%;
    }
    .evdev-filters .filter{
        margin-bottom: 15px;
    }
    .single-mt_listing .list_title {
        margin: 8px 0 3px;
    }
    .error-404 .sidebar-content,
    .blog-posts.search-post .sidebar-content{
        display: none;
    }
}



/*--- 13. Responsive Min_991px Max_1024px ---*/
@media only screen and (min-width: 991px) and (max-width: 1024px) {
    .header1 .logo-infos .navbar-header-infos {
        width: 100% !important;
    }
    .header1 .logo-infos .navbar-header-infos .header-infos {
        width: 100%;
    }
    #navbar .menu > .menu-item:first-child > a {
        padding: 18px 18px !important;
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: auto !important;
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: auto !important;
    }
    .fixed-sidebar-menu.open {
        width: 50% !important;
    }
    .header-nav-actions .mt-search-icon {
        margin: 5px 15px 6px !important;
    }
    .evdevtheme-countdown .days-name, 
    .evdevtheme-countdown .hours-name, 
    .evdevtheme-countdown .minutes-name, 
    .evdevtheme-countdown .seconds-name {
    font-size: 12px !important;
    }
    .single-mt_listing .mt_listing_website_button{
    margin-top: 10px !important;
    }
    .rating-margin-top {
    margin-top: 22% !important;
    }
    .thumbs-rating-container .thumbs-rating-up, 
    .thumbs-rating-container .thumbs-rating-down {
    font-size: 14px !important;
    }
    .single-mt_listing .mt_listing_purchase_button {
        margin: 0 10px 0 0 !important;
    }
    .widget_evdev_recent_entries_with_thumbnail .post-details-date,
    .widget_evdev_recent_entries_with_thumbnail .post-date {
        font-size: 12px !important;
    }
    li#nav-menu-list {
        display: inline-block;
    }
    .actions-group {
       padding: 0 0 5px 0 !important;
    }
    .vc_row.home_our_premium_flower {
        background-size: auto !important;
    }
    
    /* Add new rules for this interval below */


}



/*--- 14. Responsive Min_992px and Max_1199px ---*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mt_cars--features-description .house_description {
        display: none;
    }
    .mt_cars--main-pic {
        margin-bottom: 12px !important;
    }
    .nav-menu-account{
        display: inline-block !important;
    }
    .single-mt_listing .mt_listing_website_button{
        margin: 10px 0 0 !important;
    }
    .evdevtheme-countdown .days-name, 
    .evdevtheme-countdown .hours-name, 
    .evdevtheme-countdown .minutes-name, 
    .evdevtheme-countdown .seconds-name {
        font-size: 12px !important;
    }
    .thumbs-rating-container .thumbs-rating-up,
    .thumbs-rating-container .thumbs-rating-down {
        font-size: 14px;
    }
    .blog-posts .evdev-img-left {
        width: 14.5% !important;
    }
    .blog-posts .evdev-details {
        width: 85.5% !important;
    }
    .mt-single-event .mt-event-cat a {
        padding: 4px 5px !important;
        margin-right: 0px !important;
    }
    .ico-info-date{
        padding: 0px !important;
    }
    .evdev-metas > div {
        margin-right: 2px !important;
    }
    /* Add new rules for this interval below */
    .iconfilter-shortcode .blog_custom_listings .post-name-listings a {
         margin-right: 0px !important; 
    }
    .stats-block .stats-img img {
        left: 13% !important;
    }
    #mt_posts_carousel_big .owl-nav, 
    #mt_posts_carousel_big_centered .owl-nav, 
    #mt_posts_carousel_big.owl-theme .owl-controls {
        top: 40% !important;
    }
    .vc_row.about-us-video-row{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }


}



/*--- 15. Responsive Max_1000px ---*/
@media screen and (max-width: 1000px) {
    .no-results.not-found {
        margin-bottom: 80px;
    }
    .comment-form .form-comment {
        padding: 0;
    }
    footer .footer-top h1.widget-title {
        margin-bottom: 15px !important;
        margin-top: 30px !important;
    }
    footer .footer-top .widget_evdev_recent_icos_with_thumbnail .widget-title {
        margin-bottom: 15px !important;
    }
    .navbar-collapse.collapse.vc_col-md-9 {
        width: 100%;
    }    
    .prev.page-numbers {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }    
    .widget_smartowl_tweets_widget .tweet-title,
    .widget_smartowl_tweets_widget .tweeter-profile {
        padding: 0;
    }
    .widget_smartowl_tweets_widget .tweet-title .col-md-2,
    .left-block-container .block-icon,
    .latest-tweets .vc_col-md-2,
    #contact_form .mt-half-spacer {
        display: none;
    }
    #contact_form textarea,
    #contact_form input {
        margin-bottom: 15px;
    }
    .latest-posts .single-post .vc_col-md-3.text-center {
        display: none;
    }    
    .component.add-to-cart, 
    .component.wishlist, 
    .component.compare {
        clear: both;
        display: block;
        width: auto;
    }
    footer nav.menu {
        float: left;
    }
    footer nav.menu li:first-child a {
        margin-left: 0;
    }
    .widget.widget_flickr {
        clear: both;
    }
    .widget_recent_entries_with_thumbnail .thumbnail-overlay {
        width: 70px;
    }
    .widget_recent_entries_with_thumbnail .post-details {
        padding: 0;
    }
    .logo {
        margin: 15px 0;
    }
    .widget.widget_tag_cloud {
        overflow: hidden;
    }
    .portfolio .col-md-2:nth-child(7n+5),
    .portfolio .col-md-2:nth-child(7n+1){
        margin-left: 0;
        clear: none;
    }
    .testimonials .testimonials-container blockquote{
        font-size: 16px;
    }
    .testimonials .testimonials-container blockquote::after,
    .testimonials .testimonials-container blockquote::before{
        font-size: 100px;
        top: 34%;
    }
    .submit-comment .comment-form .form-comment {
        padding: 0;
    }
    body .portfolio-items .vc_col-md-2:last-child{
        margin-bottom: 0;
    }
    body .portfolio-items .vc_col-md-2{
        margin-bottom: 80px;
    }
    body .portfolio-items .vc_col-md-2:nth-child(7n+5),
    body .portfolio-items .vc_col-md-2:nth-child(7n+1) {
        margin-left: 0;
    }
    body .testimonials-container blockquote * {
        font-size: 16px;
    }
    .testimonials-container blockquote::after,
    .testimonials-container blockquote::before{
        content: "";
        display: none;
    }
    .testimonials-container blockquote {
        padding: 20px 0 20px;
        margin: 0;
    }
    body .theme_header_slider .tp-leftarrow.default::after, 
    body .theme_header_slider .tp-rightarrow.default::after {
        font-size: 50px;
        line-height: 60%;
        opacity: 0.75;
    }
    .donnation-content .donnation_texts {
        border: medium none;
        text-align: center;
    }
    .donation-button-container {
        text-align: center;
    }
    .single-post .article-header .article-details img.main-featured-image {
        height: 200px !important;
        object-fit: cover;
    }
    .header-title-blog-box {
        padding: 20px !important;
    }
    .custom_inner_class {
        text-align: center !important;
    }
    .woocommerce ul.products li.product .star-rating {
        margin-top: 50px !important;
    }
    
    /* Add new rules for this interval below */


}



/*--- 16. Responsive Max_1024px ---*/
@media only screen and (max-width: 1024px) {
    body .header-nav-actions .mt-search-icon{
        padding: 0 15px;
    }
    .sidebar-content .widget_search label {
        width: 58% !important;
    }
    .sidebar-content .widget_search .search-submit {
        width: 40% !important;
    }
    .blog-posts-shortcode.blog-posts .list-view .post-details.format-video .mt-post-format-icon-badge {
        width: 55px;
        height: 55px;
        font-size: 20px;
        line-height: 55px;
    }
    .blog-posts-shortcode.blog-posts .list-view .post-details.format-video .post-name a {
        font-size: 18px;
        background-image: none !important;
    }
    #dropdown-user-profile ul {
        right: 0 !important;
        left: auto !important;
    }
    .header3 header .col-md-8.social-links-column,
    .header3 header .right-side-social-actions,
    .header3 header .header-nav-actions {
        display: none;
    }
    body blockquote h3 {
        font-size: 16px !important;
    }
    body blockquote {
        padding: 30px !important;
    }
    #dropdown-user-profile ul::before {
        left: 85% !important;
    }
    footer aside {
        float: left;
        width: 100%;
    }
    body .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 100%;
    }
    body header #navbar .menu-item > a {
        padding: 0 15px;
    }
    body #evdevtheme-main-head{
        padding: 0 !important;
    }
    .copyright_right {
        float: initial !important;
    }
    .footer-row-1 {
        padding-top: 40px !important;
        padding-bottom: 33px !important;
    }
    footer .footer-top {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .odd-post .single-post.list-view .post-date, .even-post .single-post.list-view .post-date {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: auto;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 0;
        position: relative;
        right: auto;
        top: auto;
    }
    .even-post .list-view .blog_date.blog_day,
    .odd-post .list-view .blog_date.blog_day {
        font-size: 14px;
        font-weight: 300;
    }
    .odd-post .list-view .post-category-comment-date,
    .even-post .list-view .post-category-comment-date {
        margin: 0;
    }
    .odd-post .list-view .blog_date,
    .even-post .list-view .blog_date {
        display: inline-table;
        font-size: 14px;
        text-transform: none;
        line-height: normal;
    }
    .newspaper-info-bordered .col-md-5 {
        text-align: center;
        display: none;
    }
    .newspaper-info .newspaper-info-bordered {
        padding: 15px 0;
        border: 0 none;
    }
    .smartowl_shortcode_blog .post {
        margin-bottom: 30px;
    }
    ul.ecs-event-list li {
        margin-bottom: 20px !important;
    }
    .donation-right-side {
        margin: 0px;
    }
    .shop_feature_description_v2 {
        padding-left: 5px;
    }
    .menu.nav-effect.nav-menu {
        text-align: center !important;
    }
    header.header1 .menu.nav-effect.nav-menu {
        width: 100% !important;
    }
    header.header2 .menu.nav-effect.nav-menu {
        width: 100% !important;
    }
    .navbar-nav > li {
        float: none !important;
    }
    body header.header2 .navbar-header h1.logo {
        text-align: center;
    }
    header.header8 .mt-nav-burger-holder {
        padding: 0 !important;
    }
    body header.header8 #mt-nav-burger {
        top: 28px !important;
    }

    body header.header9 .mt-nav-burger-holder {
        padding: 0px !important;
    }
    body header.header9 .header-nav-actions .mt-search-icon {
        margin-right: 35px !important;
    }
    header.header9 .navbar-header h1.logo {
        text-align: center !important;
    }
    body header.header9 #mt-nav-burger {
        top: 28px !important;
    }
    body header.header9 .menu.nav-effect.nav-menu {
        width: 85% !important;
    }
    .single-mt_listing .featured-icon {
    text-align: left !important;
    }
    .mt_listing--single-gallery .ico-screenshot {
    height: auto !important;
    display: block !important;
    }
    .search-list-item .evdev-img-left,
    .search-list-item .evdev-details {
        width: 100%;
    }
    .row-4items {
        padding-right: 0px !important;
    }
    .ico-info-button{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    li#nav-menu-list {
        margin-left: 0px !important;
    }
    .single-icondrops-related-listings .blog_custom_listings .post-name-listings {
        margin-top: 10px !important;
    }
    .single-event-gallery-block {
        margin-top: 0px !important;
    }
    .widget_evdev_recent_entries_with_thumbnail .post-thumbnail,
    .sidebar-content .widget_evdev_recent_entries_with_thumbnail .post-details {
        float: left !important;
    }
    .single-icondrops .col-md-2 .blog_post_image {
        max-width: 150px !important;
    }
    footer .widget .relative{
        max-width: 60px !important;
    }
    footer .widget_evdev_recent_icos_with_thumbnail .post-thumbnail {
        width: 20% !important;
    }
    .mtlistings-events-style-v2 .mt-single-event-head{
        display: none;
    }
    .mobile-padding.vc_row{
        padding-top: 40px !important;
    }
    .woocommerce-page.columns-1 ul.products li.product, 
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce ul.products.columns-1 li.product, 
    .woocommerce-page ul.products.columns-1 li.product {
        width: 48%;
    }
	.woocommerce ul.products[class*=columns-] li.product:nth-child(2n), 
	.woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n) {
    	float: left;
    	clear: none!important;
	}
    .vc_column_container .woocommerce ul.products li.product a img,
    .woocommerce .blog-posts ul.products li.product a img  {
        width: 100%;
        margin: 0px !important;
        padding: 30px 30px 20px 30px;
    }
    .woocommerce ul.products li.product .star-rating {
        display: none !important;
    }
    .vc_column_container .woocommerce ul.products li.product a.button,
    .woocommerce .blog-posts ul.products li.product a.button {
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .woocommerce ul.products li.product a.woocommerce-loop-product__link {
      /*  display: inline-block;*/
        position: relative;
    }
    .vc_column_container .woocommerce ul.products li.product .archive-product-title,
    .woocommerce .blog-posts ul.products li.product .archive-product-title {
        width: 100%;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }
    .products.columns-1 {
        display: inline-block;
    }
    .vc_column_container .woocommerce ul.products li.product .price,
    .vc_column_container .woocommerce ul.products li.product .product-meta,
    .woocommerce .blog-posts ul.products li.product .price,
    .woocommerce .blog-posts ul.products li.product .product-meta {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0;
    }
    /* Add new rules for this interval below */


}



/*--- 17. Responsive Min_1025 Max_1367px ---*/
@media only screen and (min-width: 1024px) and (max-width: 1367px) {
    body #navbar .menu-item.mega1column > a::after, 
    body #navbar .menu-item.mega2columns > a::after, 
    body #navbar .menu-item.mega3columns > a::after, 
    body #navbar .menu-item.menu-item-has-children > a::after{
        right: 0;
    }
    body header .header-nav-actions{
        padding: 0;
    }
    .single-mt_listing .mt_listing_purchase_button{
        margin: 0 10px 0 0 !important;
    }
    .ico-info-date{
        padding: 0px !important;
    }
    .widget_evdev_recent_entries_with_thumbnail .post-thumbnail {
        width: 25% !important;
    }
    .sidebar-content .widget_evdev_recent_entries_with_thumbnail .post-details {
        width: 75% !important;
    }

    /* Add new rules for this interval below */

}



/*--- 18. Responsive Max_1200px ---*/
@media only screen and (max-width: 1200px) {
    #navbar .menu-item > a {
        font-size: 13px !important;
        padding: 21px 10px !important;
    }
    #mt_posts_grid_v1.mt-posts-carousel-v2 h3.mt-post-title {
        font-size: 16px !important;
    }
    #mt_posts_grid_v2.mt-posts-carousel-v2 h3.mt-post-title,
    #mt_posts_grid_v3.mt-posts-carousel-v2 h3.mt-post-title,
    #mt_posts_grid_v4.mt-posts-carousel-v2 h3.mt-post-title {
        font-size: 16px !important;
        line-height: 1.2 !important;
    }
    #mt_posts_grid_v1.mt-posts-carousel-v2 .article-1 .group-meta,
    #mt_posts_grid_v4.mt-posts-carousel-v2 .group-meta {
        display: none;
    }
    #mt_posts_grid_v3.mt-posts-carousel-v2 .group-meta {
        display: none;
    }
    h3.post-name.row.car-name a {
        font-size: 15px !important;
        letter-spacing: 0px;
    }
    .single-mt_listing .single-icondrops {
    background-size: cover !important;
    }
    .blog-posts .evdev-img-left {
        margin-bottom: 10px;
    }
    .search-list-item .evdev-img-left .ico-icon {
        text-align: left !important;
    }
    /* Add new rules for this interval below */

}



/*--- 19. Responsive Min_1367px ---*/
@media only screen and (min-width: 1367px) {
    .events-shortcode-v2 .event-description-title {
        padding: 0px 10px !important;
    }
    .header1 .fixed-sidebar-menu .left-side {
        padding: 40px;
    }
    .mt-car-search .slider-state-search {
    padding: 0px; 
    }
    .ico-info-date{
        padding: 0px !important;
    }
    /* Add new rules for this interval below */


}


@media only screen and (max-width: 1600px) { 
    .mt-posts-carousel-v2 h3.mt-post-title {
        font-size: 18px !important;
    }
}