/*------------------------------------------------------------------
[BlogLoops Stylesheet]


[Table of contents]

1. Blog Loops General Styling
2. Blogloop-v1
3. Blogloop-v2
4. Blogloop-v3
5. Blogloop-v4
6. Blogloop-v5

-------------------------------------------------------------------*/


/*---------------------------------------------*/
/*--- 1. Blog Loops General Styling ---*/
/*---------------------------------------------*/
.mt-post-format-icon-badge {
    position: absolute;
    top: 40%;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #fff;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-size: 25px;
    z-index: 999;
    border-radius: 50%;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.mt-post-format-icon-badge:hover {
    width: 95px;
    height: 95px;
    line-height: 95px;
    font-size: 26px;
    top: 39.5%;
}
.mt-post-format-icon-badge i
.list-view .post-thumbnail {
    margin: 0;
    padding: 0;
}
.list-view .post-details {
    align-self: center;
    position: relative;
}
.list-view .post-details .post-name a {
    line-height: normal;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}
.list-view .no-featured-image {
    padding: 30px !important;
}
.list-view .post-details .post-category-comment-date .post-date a {
    opacity: 1;
    display: inline-table;
}
.list-view .post-category-comment-date > span:last-child{
    margin-right: 0px;
}
article.single-post .post-button{
    text-align: center;
}
.list-view .blog_date {
    display: inline-table;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}
.post-thumbnail a {
    display: block;
    overflow: hidden;
}
.list-view .wp-caption.alignnone {
    margin: 10px 0;
    max-width: 100%;
}
.list-view .post-details .post-category-comment-date span > i {
    margin-right: 10px;
}
.list-view .post-details .mt_cars--features-description .house_location a {
    font-size: 16px;
    text-transform: none;
    color: #c3c3c3;
    line-height: 20px;
    font-weight: 400;
    font-style: italic;
}

.list-view .post-details .post-category-comment-date .post-author span {
    opacity: 0.6;
}
.sticky_post_blog_details .post-author > a {
    display: inline;
}
.list-view .post-details .post-excerpt td, 
.list-view .post-details .post-excerpt th,
.list-view .post-details .post-excerpt dd,
.list-view .post-details .post-excerpt dt,
.list-view .post-details .post-excerpt address,
.list-view .post-details .post-excerpt li {
    color: #222222;
    font-size: 17px;
    line-height: 140%;
}
.list-view .post-details .post-excerpt .more-link {
    background-color: #222222;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}
.list-view .post-details .post-excerpt .more-link:hover {
	background-color: #6bce85;
    color: #ffffff;
}
.post-category-comment-date i {
    margin-right: 10px;
}
.list-view .post-thumbnail:hover {
  border-right: medium none !important;
}
article.single-post {
    position: relative;
}
.single-post {
    border-bottom: medium none !important;
}

/*---------------------------------------------*/
/*--- 2. Blogloop-v1 ---*/
/*---------------------------------------------*/
.list-view.blogloop-v1 .no-featured-image{
    border: 1px solid #ededed;
}
article.blogloop-v1.single-post::after {
    display: none;
}
article.blogloop-v1.single-post {
    margin-bottom: 0;
}
.blogloop-v1 .post-details-padding {
    padding: 0 15px;
}
.blogloop-v1.list-view .post-details .post-excerpt p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.blogloop-v1 .post-name a{
    color: #282828;
}
.blogloop-v1 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v1 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v1.list-view .post-category-comment-date {
    margin: 0 0 12px;
}


/*---------------------------------------------*/
/*--- 3. Blogloop-v2 ---*/
/*---------------------------------------------*/
article.blogloop-v2.single-post:last-of-type .post-details .post-details-holder {
    border-bottom: 0 none;
}
.blogloop-v2 .post-name a{
    margin: 20px 0 15px;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}

.blogloop-v2 .post-name {
    margin: 15px 0 20px;
}
.blogloop-v2 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v2.list-view .post-category-comment-date {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}
.blogloop-v2 .post-details .post-details-holder{
    padding: 20px 0px 60px 0px;
    border-bottom: 1px solid #ededed;
}
.blogloop-v2 .post-details .post-excerpt p{
    margin: 0;
}
.blogloop-v2.single-post {
    padding-bottom: 0;
    margin-bottom: 60px;
}
.blogloop-v2.single-post .post-thumbnail img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.blogloop-v2.single-post .post-thumbnail img {
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    width: 100%;
}
.blogloop-v2.single-post blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
}
.blogloop-v2.single-post:first-child .post-thumbnail img {
    margin-top: 0;
}
.row .blogloop-v2.single-post:last-of-type {
    margin-bottom: 0;
}
.row .blogloop-v2.single-post:last-of-type .post-details-holder {
    padding-bottom: 0;
}
.blogloop-v2.single-post .post-date,
.single-post .post-date{
    float: right;
}
.blogloop-v2 .post-excerpt{
    margin-bottom: 20px
}
.blogloop-v2 .post-categories a,
.blogloop-v2 .post-tags a{
    text-transform: capitalize;
}

/*---------------------------------------------*/
/*--- 4. Blogloop-v3 ---*/
/*---------------------------------------------*/

/* blogloop-v3 */
/* blogloop-no-flex */

.blogloop-v3.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: block;
}
.blogloop-v3 .post-details {
    float: left;
    width: 100%;
}
.blogloop-v3 .post-name a{
    color: #282828;
}
.blogloop-v3 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v3 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v3.list-view .post-category-comment-date {
    margin: 0 0 12px;
}
.single-post.blogloop-v3 {
    margin-bottom: 40px;
}
.blogloop-v3 .post-details-holder {
    text-align: center;
}


/*---------------------------------------------*/
/*--- 5. Blogloop-v4 ---*/
/*---------------------------------------------*/

/* blogloop-v4 */
/* blogloop-no-flex */

.blogloop-v4.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: block;
}
.blogloop-v4 .post-details {
    float: left;
    width: 100%;
}
.blogloop-v4 .post-name a{
    color: #282828;
}
.blogloop-v4 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v4 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v4.list-view .post-category-comment-date {
    margin: 12px 0 0;
    font-size: 17px;
}
.blogloop-v4.list-view .post-date {
    margin-top: 25px;
}
.blogloop-v4.list-view .post-date a {
    color: #ffffff;
    display: block;
    font-weight: bold;
    padding: 15px 14px;
    text-align: center;
    text-transform: uppercase;
}
.blogloop-v4.list-view .post-details .post-category-comment-date i, 
.blogloop-v4.list-view .post-details .post-category-comment-date a, 
.blogloop-v4.post-category-comment-date span a, 
.blogloop-v4.post-category-comment-date span {
    color: #a5a5a5;
}



/*---------------------------------------------*/
/*--- 6. Blogloop-v5 ---*/
/*---------------------------------------------*/

/* blogloop-v5 */
/* blogloop-no-flex */
article.blogloop-v5.single-post::after {
    display: none;
}
article.blogloop-v5.single-post {
    margin-bottom: 0;
}
.blogloop-v5.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    border: 0 none;
}
article.blogloop-v5.single-post.no-featured-image .post-details {
    border: 1px solid #ededed;
}
.blogloop-v5 .post-details {
    border-top: 0px none;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    float: left;
    padding: 0 30px 20px;
    width: 100%;
}
.blogloop-v5 .post-name a:hover{
    opacity: .8;
}
.blogloop-v5 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0 15px;
}
.blogloop-v5 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v5.list-view .post-category-comment-date {
    margin: 0 0 12px;
}
.blogloop-v5 .absolute-date-badge {
    bottom: 0;
    text-align: center;
    width: 100%;
}
.blogloop-v5 .post-thumbnail a {
    overflow: initial;
    z-index: 2;
}
.blogloop-v5 .absolute-date-badge {
    bottom: -12px;
    text-align: center;
    width: 100%;
}
.blogloop-v5 .absolute-date-badge span {
    border-radius: 15px;
    color: #ffffff;
    margin: 0;
    padding: 3px 15px;
}
blockquote {
    padding: 50px !important;
    border-left: 0 !important;
    color: #fff;
}
.archive blockquote {
    margin: 0;
}
.blog-posts-shortcode .single-post.list-view  blockquote{
    margin-top: 0;
    margin-bottom: 0;
}
blockquote:before {
    content: ' ';
}
blockquote:after {
    content: '\201C';
    vertical-align: top;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 100px;
    overflow: hidden;
    position: absolute;
    top: 35px;
    right: 35px;
    background: #ffffff;
    color: #222222;
    height: 60px;
    padding: 3px 10px;
    display: none;
}
blockquote footer {
    background: transparent;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    border-top: 0px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff !important;
}
blockquote footer cite {
    font-style: normal;
}
blockquote h3 {
    line-height: 1.5 !important;
    margin-bottom: 23px;
    margin-top: 0 !important;
    font-size: 23px !important;
}
blockquote h3::before {
    content: '“';
    font-size: 100px;
    display: block;
    line-height: 1;
    height: 30px;
    margin-bottom: 30px;
    margin-top: -20px;
}
blockquote p{
    color: #fff !important;
    line-height: 25px !important;
}
blockquote a {
    color: #fff;
    text-decoration: underline;
}
blockquote a:hover {
    color: #fff;
    text-decoration: underline;
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
    display: none;
}