/*------------------------------------------------------------------
[Header Styles Stylesheet]

[Table of contents]

1. Navbar
2. Navbar sub menus
3. FIXED HEADER TIMELINE
4. HEADER 1
5. HEADER 5
6. HEADER 8
7. HEADER 10
8. HEADER 11
9. HEADER 12
10. HEADER 13
11. SIDEBAR NAVIGATION BURGER
12. LEFT FIXED HEADER
13. RIGHT FIXED HEADER
14. General Header
15. Navbar styling
16. FRAMEWORK-HEADER 2
17. FRAMEWORK-HEADER 3
18. FRAMEWORK-HEADER 4
19. Burger Menu & Search

-------------------------------------------------------------------*/
.vcw.vcw-small-table {
    width: 100% !important;
}
#loginform label {
    display: none !important;
}
.vcw.vcw-table.vcw-black {
    width: 100% !important;
}

/*1. Navbar*/
header .navbar-toggle {
    border-radius: 0;
    margin-top: 35px;
}
#navbar .menu-item.selected > a,
#navbar .menu-item:hover > a {
    background: transparent;
}
.is_header_semitransparent .sticky-wrapper {
    position: absolute;
    width: 100%;
}
.fixed-sidebar-menu .widget_search .search-field:focus{
    border: 1px solid #b9c0c5;
}
.fixed-sidebar-menu .widget_recent_entries_with_thumbnail a {
    font-size: 17px;
}
.is_header_semitransparent header {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.widgets_v2 .fixed-sidebar-menu-holder .sidebar-content .widget .textwidget {
    padding: 0;
}
.widgets_v2 .fixed-sidebar-menu-holder .sidebar-content .widget {
    box-shadow: none;
    background: transparent;
    -webkit-background: transparent;
}
body.is_header_semitransparent .is-sticky #mt-nav-burger span{
    background: #222222;
}
body.is_header_semitransparent header .is-sticky .right-side-social-actions .mt-search-icon i, 
body.is_header_semitransparent .is-sticky #navbar .menu > .menu-item > a, 
body.is_header_semitransparent header .is-sticky .right-side-social-actions .social-links i {
    color: #222222;
}
body.is_header_semitransparent #mt-nav-burger span {
    background: #ffffff none repeat scroll 0 0;
}

.is_header_semitransparent .sticky-wrapper.is-sticky .navbar-default {
    background: rgba(0, 175, 239, 0.95) none repeat scroll 0 0;
}
.is_header_semitransparent .header-title-breadcrumb-overlay > .container {
    padding-top: 80px;
}
.navbar-default{
    border: 0 none;
}
header .love-it-wrapper {
    display: none;
}
.fixed-sidebar-menu .left-side h3,
.fixed-sidebar-menu .logo,
.fixed-sidebar-menu .widget-title, .fixed-sidebar-menu h3#reply-title, .fixed-sidebar-menu h2.heading-bottom,
.fixed-sidebar-menu .widget_recent_entries_with_thumbnail li a {
    color: #222222;
}
.fixed-sidebar-menu-holder .widget {
    margin-top: 50px;
}
.fixed-sidebar-menu .widget-title {
    border-color: rgba(255, 255, 255, 0.3);
    line-height: normal !important;
}
.fixed-sidebar-menu .widget_recent_comments > ul, 
.fixed-sidebar-menu .widget_nav_menu li, 
.fixed-sidebar-menu .widget_nav_menu li a, 
.fixed-sidebar-menu .sidebar-content .widget_nav_menu li, 
.fixed-sidebar-menu .sidebar-content .widget_nav_menu li a, 
.fixed-sidebar-menu .widget_recent_entries li, 
.fixed-sidebar-menu .widget_recent_entries li a, 
.fixed-sidebar-menu .widget_pages li, 
.fixed-sidebar-menu .widget_pages li a, 
.fixed-sidebar-menu .widget_meta li, 
.fixed-sidebar-menu .widget_meta li a,
.fixed-sidebar-menu .widget_archive li, 
.fixed-sidebar-menu .widget_archive li a, 
.fixed-sidebar-menu .widget_categories .cat-item, 
.fixed-sidebar-menu .widget_categories li a{
    color: #000;
    font-weight: 300;
}
/*2. Navbar sub menus*/
#navbar .sub-menu .menu-item > a {
    line-height: normal;
    padding: 10px;
    text-transform: none;
}
#navbar .sub-menu .menu-item > a:hover {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
}
#navbar .sub-menu,
.navbar ul li ul.sub-menu {
    border-top: 0 none;
    left: 0px;
    opacity: 0;
    padding-top: 0;
    position: absolute;
    text-align: left;
    top: 180%;
    transition: all 400ms ease 0s;
    -webkit-transition: all 400ms ease 0s;
    visibility: hidden;
    width: 250px;
    z-index: 9999;
}
.menu.nav-effect.nav-menu {
    margin: 0;
}
#navbar .menu-item.mega1column .sub-menu li > a::after,
#navbar .menu-item.mega2columns .sub-menu li > a::after,
#navbar .menu-item.mega3columns .sub-menu li > a::after,
#navbar .menu-item.menu-item-has-children .sub-menu li > a::after {
    top: 15px;
}
.vc_progress_bar .vc_single_bar .vc_label {
    font-size: 17px;
    font-weight: 300;
    padding: 5px 10px;
}
header nav ul {
    display: inline-table;
}
header #navbar > div:first-child {
    display: inline-table;
    text-align: left;
    width: auto;
}
.navbar-nav > li > a {
    padding-bottom: 30px;
    padding-top: 30px;
}
.navbar ul li:hover > ul.sub-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
#navbar ul.sub-menu li a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 3px 13px;
}
#navbar li li {
    display: list-item; 
    list-style: none; 
}
.fixed-sidebar-menu-overlay.visible {
    opacity: 1;
    visibility: visible;
}
.fixed-sidebar-menu-overlay {
    background: rgba(13, 25, 31, 0.7) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    cursor: url('../images/burger-close.png'), auto;
}
.fixed-search-overlay .icon-close:hover {
    opacity: 0.8;
}
.fixed-search-overlay .icon-close {
    color: rgb(255, 255, 255);
    font-size: 65px;
    position: absolute;
    right: 50px;
    top: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: all 300ms ease;
}
.fixed-search-overlay .icon-close:before {
    content: "\d7" !important;
    color: #fff;
}
.fixed-search-overlay.visible {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}
.fixed-search-overlay .fixed-search-inside {
    align-self: center;
    width: 100%;
}
.fixed-search-inside .evdevtheme-search {
    display: block;
    margin: 0 auto;
}
.evdevtheme-search > form {
    position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.fixed-search-inside .evdevtheme-search i {
    color: rgba(255, 255, 255, 1);
    font-size: 35px;
    position: absolute;
    right: 0px;
    top: 40%;
}
.fixed-search-inside .search-input::-moz-placeholder {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}
.fixed-search-inside .search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}
.fixed-search-inside  .esc-search {
    margin-top: 24px;
    font-size: 15px;
    color: rgba(255, 255, 255, .5);
}
.fixed-search-inside .search-input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color rgb(255, 255, 255);
    border-style: none none solid;
    border-width: 0;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bold;
    padding: 30px 30px 30px 0px;
    width: 100%;
    margin-left: -5px;
}
.fixed-search-overlay {
    background: rgba(34, 34, 34, .96);
    height: 100%;
    left: 0;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}


/*3. FIXED HEADER */
.fixed-sidebar-menu .navbar-nav.timeline-menu li a {
    border-left: 1px solid rgba(255, 255, 255,.5);
    font-weight: 300;
    margin-left: 15px;
    padding: 40px;
    position: relative;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu .navbar-nav.timeline-menu > li > a::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: -3.5px;
    position: absolute;
    top: 45px;
    width: 6px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu .timeline-menu.navbar-nav {
    position: relative;
}
.fixed-sidebar-menu .navbar-nav.timeline-menu > li > a:hover::before {
    background: #ec1d23;
}
.fixed-sidebar-menu .timeline-menu.navbar-nav::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 12.5px;
    position: absolute;
    top: 0;
    width: 6px;
}
.fixed-sidebar-menu .timeline-menu.navbar-nav::after {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 12.5px;
    position: absolute;
    bottom: 0;
    width: 6px;
}
.fixed-sidebar-menu .navbar-nav.timeline-menu li:hover a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ec1d23;
}
.fixed-sidebar-menu .header15 .navbar-nav.timeline-menu li a {
    border-left: 0 none;
    border-right: 1px solid #ffffff;
    font-weight: 300;
    margin-left: 0;
    margin-right: 15px;
    text-align: right;
}
.fixed-sidebar-menu .header15 .navbar-nav.timeline-menu > li > a::before {
    left: auto;
    right: -3.5px;
}
.fixed-sidebar-menu .header15 .timeline-menu.navbar-nav::before {
    left: auto;
    right: 12.5px;
}
.fixed-sidebar-menu .header15 .timeline-menu.navbar-nav::after {
    left: auto;
    right: 12.5px;
}
.fixed-sidebar-menu .header15 .left-side h3 {
    color: #ffffff;
    margin-right: 15px;
    text-align: right;
}
body .shop_cart > a:hover {
    color: #222222;
}


/*4. HEADER 1*/
.missing-redux-framework.header1 .no-menu {
    margin: 31px 30px 30px 0;
    margin-right: 20px;
}
.header1 .header-info-group .header-info-labels p,
.header1 .header-info-group p{
    padding: 0;
}
.header1 .header-nav-actions .mt-search-icon {
    font-size: 17px;
    margin-right: 15px;
    margin-top: 5px;
}
header.header1 .header-nav-actions .shop_cart i {
    font-size: 20px;
    color: #fff;
}
header.header1 .header-nav-actions .shop_cart {
    float: right;
    padding: 10px 40px;
    margin: 0px;
    list-style: none;
    background: transparent !important;
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-header h1.logo {
    margin: 0;
    position: relative;
    left: 0px;
    margin-left: 0px;
    font-size: 50px;
}
h1.logo>a{
        vertical-align: middle;
    display: table-cell;
    height: 100px;
        max-width: 230px;
    width: 100%;
}
div#navbar>ul.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
}

div#navbar>ul.menu > li {
    margin-right: 50px;
}
div#navbar>ul.menu > li:last-child {
    margin-right: 0;
}
div#navbar>ul.menu > li:not(.evdev-logoin):not(.cart) a {
    font-size: 16px;
    color: #1d1d1d;
}
header.header1 {
    position: absolute;
    width: 100%;
    top: 0;
}
div#navbar {
    width: calc(100% - 230px);
    float: right;
    box-sizing: border-box;
}
.header1 #navbar {
    text-align: right;
}
header.header1 .header-nav-actions {
    padding-right: 0px;
    float: right;
}
header.header1 .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

header.header1 #evdevtheme-main-head {
    padding: 0;
}
header.header1 .nav-menu-button a {
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 600;
    margin: 26px 5px;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out 0s;
    color: #ffffff !important;
    border: solid 2px #151515;
    padding: 0px 24px;
}
header.header1 .nav-menu-button a:hover,
header.header1 .nav-menu-button a:focus{
    background: #ffffff;
    color: #151515 !important;
}
header.header1 .nav-menu-account.evdev-logoin a,
header.header1 .nav-menu-account.evdev-logout a,
header.header1 .nav-menu-account.evdev-register a {
    padding: 0px 13px !important;
}
.pull-none{
    float:none !important
}
.header1 .nav-menu-account{
    border: 0;
    padding: 0px 15px;
    line-height: 40px;
    margin: 20px 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out 0s;
}
.header1 .nav-menu-account:hover{
    color: #ffffff;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus{
    background: #fff;
}

/*HEADER 5*/
.header5 #navbar {
    text-align: center;
}
header.header5 #navbar > div:first-child {
    float: none;
}


/*HEADER 8*/
.header8 #navbar {
    text-align: right !important;
}


/*HEADER 10*/
.header10 #navbar {
    text-align: right;
}
.header10 #navbar .menu {
    margin-right: 20px;
}
.header10 .navbar-collapse.collapse.hidden {
    opacity: 1;
}
.header10 .navbar-collapse.collapse {
    opacity: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}


/*8. HEADER 11*/
.header11 #navbar {
    text-align: right;
}
.header11 #navbar .menu {
    margin-right: 20px;
}
.header11 .navbar-collapse.collapse.hidden {
    opacity: 1;
}
.header11 .navbar-collapse.collapse {
    opacity: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}




/*9. HEADER 12*/
.header12 #navbar {
    text-align: center;
}



/*10. HEADER 13*/
.header13 #navbar{
    text-align: center;
}
.is_header_semitransparent .header13 .sticky-wrapper {
    position: relative;
}



/*11. SIDEBAR NAVIGATION BURGER*/
.fixed-sidebar-menu p.copyright {
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.fixed-sidebar-menu-holder {
    margin: 0;
}
.fixed-sidebar-menu .navbar {
    margin-top: 30px;
    background: transparent;
}
.fixed-sidebar-menu .logo {
    margin: 0;
    text-align: left;
}
.fixed-sidebar-menu .menu-item {
    width: 100%;
}
.fixed-sidebar-menu .navbar-nav > li > a{
    font-weight: 300;
    padding: 10px 10px;
}
.fixed-sidebar-menu > div{
    height: auto;
}
.fixed-sidebar-menu-holder .widget.widget_search input {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    color: rgb(35, 35, 91);
    font-weight: 500;
}
.fixed-sidebar-menu-holder .widget.widget_search input[type="submit"] {
    display: none;
}
.fixed-sidebar-menu{
    background: #ffffff;
    position: fixed;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    z-index: 1000;
    padding: 0;
    top: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu .widget.widget_evdev_address_social_icons h1 {
    padding: 0;
    border-bottom: 1px solid #ededed;
    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 20px;
}
.fixed-sidebar-menu .widget_evdev_address_social_icons .social-links li{
    display: inline-table;
}
.fixed-sidebar-menu .widget_evdev_address_social_icons .social-links{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 20px;
}
.fixed-sidebar-menu .widget_evdev_address_social_icons .social-links a:hover {
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.02), 0px 0px 15px 0px rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.02), 0px 0px 15px 0px rgba(0, 0, 0, 0.01);
    background: #f9f9f9;
}
.fixed-sidebar-menu .widget_evdev_address_social_icons .social-links a {
    width: 40px;
    height: 40px;
    display: block;
    background: #fff;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.02), 0px 0px 15px 0px rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.02), 0px 0px 15px 0px rgba(0, 0, 0, 0.01);
    border-radius: 50%;
    transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu .widget_evdev_address_social_icons .contact-details i {
    padding-right: 10px;
    width: 25px;
    text-align: center;
}
.fixed-sidebar-menu .widget_evdev_address_social_icons p {
    margin: 0;
}
.fixed-sidebar-menu .sidebar-content .widget{
    margin-bottom: 0;
}
.fixed-sidebar-menu .left-side {
    box-sizing: border-box;
    float: left;
    height: auto;
    padding: 100px 25px;
    width: 100%;
}
.fixed-sidebar-menu.open .left-side {
    opacity: 1;
    position: relative;
    visibility: visible;
}
.missing-evdevtheme-framework .left-side .logo {
    display: none;
}
.fixed-sidebar-menu .right-side {
    float: left;
    height: 100%;
    padding: 10px;
    width: 60px;
    margin: 0;
}
.fixed-sidebar-menu.open .menu-button .icon-close {
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.fixed-sidebar-menu.open .menu-button span.burger {
    opacity: 0;
    visibility: hidden;
}
.header5 #navbar {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
header.header9 .navbar-header h1.logo{
    text-align: right; 
}
header.header9 .header-nav-actions{
    float: left;
}
.fixed-sidebar-menu.open {
    padding: 0;
    width: 400px;
}
.fixed-sidebar-menu .logo img, 
.fixed-sidebar-menu .navbar-header .logo img {
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu .share-group {
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 22px;
    left: auto;
    right: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.fixed-sidebar-menu .menu-button {
    position: relative;
    height: 38px;
    width: 38px;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}
.fixed-sidebar-menu .menu-button span.burger {
    visibility: visible;
    position: absolute;
    display: block;
    margin-top: -2px;
    top: 50%;
    left: 3px;
    height: 3px;
    width: 30px;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: -webkit-transform cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms, opacity cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms;
    -moz-transition: -moz-transform cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms, opacity cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms;
    transition: transform cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms, opacity cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms;
}
.fixed-sidebar-menu .menu-button span.burger .inner {
    background: #fff;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 200ms;
    -moz-transition: -moz-transform 200ms;
    transition: transform 200ms;
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(1) {
    -webkit-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    -o-transform: translateY(-14px);
    transform: translateY(-14px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(1) .inner {
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(2) {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(2) .inner {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(3) {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(3) .inner {
    -webkit-transform: translateX(-13px);
    -moz-transform: translateX(-13px);
    -ms-transform: translateX(-13px);
    -o-transform: translateX(-13px);
    transform: translateX(-13px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(4) {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(4) .inner {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    -o-transform: translateX(-8px);
    transform: translateX(-8px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(5) {
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
    transform: translateY(14px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(5) .inner {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    -o-transform: translateX(-8px);
    transform: translateX(-8px);
}
.fixed-sidebar-menu .menu-button:hover span.burger .inner {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.fixed-sidebar-menu.opened .menu-button span.burger {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%}
.fixed-sidebar-menu.opened .menu-button span.burger .inner {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(1) {
    opacity: 0;
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(2) {
    -webkit-animation: moveandrotatex forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotatex forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotatex forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(3) {
    opacity: 0;
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(4) {
    -webkit-animation: moveandrotate forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotate forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotate forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(5) {
    opacity: 0;
}
.fixed-sidebar-menu.closing1 .menu-button span.burger .inner {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(1) {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(2) {
    -webkit-animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(3) {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(4) {
    -webkit-animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(5) {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fixed-sidebar-menu.closing2 .menu-button span.burger:nth-child(1) {
    -webkit-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    -o-transform: translateY(-14px);
    transform: translateY(-14px);
}
.fixed-sidebar-menu.closing2 .menu-button span.burger:nth-child(5) {
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
    transform: translateY(14px);
}
.fixed-sidebar-menu.closing2 .menu-button span.burger:nth-child(2) {
    -webkit-animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.closing2 .menu-button span.burger:nth-child(4) {
    -webkit-animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu [data-component='share'] {
    position: relative;
    text-align: center;
}
.fixed-sidebar-menu [data-component='share']:after {
    height: 64px;
    width: 64px;
    line-height: 64px;
    content: '\e603';
    font-family: "icomoon";
    font-size: 23px;
    display: inline-block;
    padding-right: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.fixed-sidebar-menu .menu-center {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 45%
}
.fixed-sidebar-menu [data-component='share'].rendered:after {
    display: none;
}
@-webkit-keyframes moveandrotatex {
    0% {
        -webkit-transform: translateY(7px) rotate(0);
    }
    50% {
        -webkit-transform: translateY(0) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(-45deg);
    }
    }@-moz-keyframes moveandrotatex {
        0% {
        -moz-transform: translateY(7px) rotate(0);
    }
    50% {
        -moz-transform: translateY(0) rotate(0);
    }
    100% {
        -moz-transform: translateY(0) rotate(-45deg);
    }
}
@keyframes moveandrotatex {
    0% {
        -webkit-transform: translateY(7px) rotate(0);
        -moz-transform: translateY(7px) rotate(0);
        -ms-transform: translateY(7px) rotate(0);
        -o-transform: translateY(7px) rotate(0);
        transform: translateY(7px) rotate(0);
    }
    50% {
        -webkit-transform: translateY(0) rotate(0);
        -moz-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        -o-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(-45deg);
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -o-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }
}
@-webkit-keyframes moveandrotate {
    0% {
        -webkit-transform: rotate(0) translateY(-7px);
    }
    50% {
        -webkit-transform: translateY(0) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(45deg);
    }
    }@-moz-keyframes moveandrotate {
        0% {
        -moz-transform: rotate(0) translateY(-7px);
    }
    50% {
        -moz-transform: translateY(0) rotate(0);
    }
    100% {
        -moz-transform: translateY(0) rotate(45deg);
    }
}@keyframes moveandrotate {
    0% {
    -webkit-transform: rotate(0) translateY(-7px);
    -moz-transform: rotate(0) translateY(-7px);
    -ms-transform: rotate(0) translateY(-7px);
    -o-transform: rotate(0) translateY(-7px);
    transform: rotate(0) translateY(-7px);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}
}@-webkit-keyframes moveandrotate-reverse {
    0% {
        -webkit-transform: rotate(45deg) translateY(0);
    }
    50% {
        -webkit-transform: translateY(0) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-7px) rotate(0);
    }
    }@-moz-keyframes moveandrotate-reverse {
        0% {
        -moz-transform: rotate(45deg) translateY(0);
    }
    50% {
        -moz-transform: translateY(0) rotate(0);
    }
    100% {
        -moz-transform: translateY(-7px) rotate(0);
    }
}
@keyframes moveandrotate-reverse {
    0% {
        -webkit-transform: rotate(45deg) translateY(0);
        -moz-transform: rotate(45deg) translateY(0);
        -ms-transform: rotate(45deg) translateY(0);
        -o-transform: rotate(45deg) translateY(0);
        transform: rotate(45deg) translateY(0);
    }
    50% {
        -webkit-transform: translateY(0) rotate(0);
        -moz-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        -o-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-7px) rotate(0);
        -moz-transform: translateY(-7px) rotate(0);
        -ms-transform: translateY(-7px) rotate(0);
        -o-transform: translateY(-7px) rotate(0);
        transform: translateY(-7px) rotate(0);
    }
}
@-webkit-keyframes moveandrotatex-reverse {
    0% {
        -webkit-transform: translateY(0) rotate(-45deg);
    }
    50% {
        -webkit-transform: translateY(0) rotate(0);
    }
    100% {
        -webkit-transform: translateY(7px) rotate(0);
    }
    }@-moz-keyframes moveandrotatex-reverse {
        0% {
        -moz-transform: translateY(0) rotate(-45deg);
    }
    50% {
        -moz-transform: translateY(0) rotate(0);
    }
    100% {
        -moz-transform: translateY(7px) rotate(0);
    }
}
@keyframes moveandrotatex-reverse {
    0% {
        -webkit-transform: translateY(0) rotate(-45deg);
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -o-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }
    50% {
        -webkit-transform: translateY(0) rotate(0);
        -moz-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        -o-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -webkit-transform: translateY(7px) rotate(0);
        -moz-transform: translateY(7px) rotate(0);
        -ms-transform: translateY(7px) rotate(0);
        -o-transform: translateY(7px) rotate(0);
        transform: translateY(7px) rotate(0);
    }
}
.touchevents .fixed-sidebar-menu nav .outer {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
[data-orientation="horizontal"] .fixed-sidebar-menu {
    -webkit-transform: translate3d(0,  -64px,  0);
    -moz-transform: translate3d(0,  -64px,  0);
    -ms-transform: translate3d(0,  -64px,  0);
    -o-transform: translate3d(0,  -64px,  0);
    transform: translate3d(0,  -64px,  0);
}
[data-orientation="horizontal"] .fixed-sidebar-menu.ready {
    -webkit-transform: translate3d(0,  0,  0);
    -moz-transform: translate3d(0,  0,  0);
    -ms-transform: translate3d(0,  0,  0);
    -o-transform: translate3d(0,  0,  0);
    transform: translate3d(0,  0,  0);
}
[data-orientation="horizontal"] .fixed-sidebar-menu .nav {
    padding: 0;
}
@media (max-width: 768px) and (orientation: landscape) {
    [data-orientation="horizontal"] .fixed-sidebar-menu .nav>.inner {
    padding: 1rem 3rem;
}
}[data-orientation="horizontal"] .nav__title h1 {
    margin: 0rem;
    font-size: 2.5rem;
    line-height: 2.4375rem;
}
@media (max-width: 768px) and (orientation: landscape) {
    [data-orientation="horizontal"] .nav__title h1 {
        font-size: 2rem !important;
        line-height: 1.3 !important;
    }
}
.share.share--page .share__trigger {
    background-color: #0e1a21;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 5px 5px #0e1a21;
}
.share.share--page .share__trigger:after {
    height: 64px;
    width: 64px;
    line-height: 64px;
    font-family: "icomoon";
    font-size: 23px;
    box-shadow: none;
    padding-right: 1px;
}
.share.share--page .share__list {
    bottom: 0;
    color: rgb(255, 255, 255);
    list-style: outside none none;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    width: 100%;
    left: 0;
}
.share.share--page .share__item.icon-social-facebook:hover::before {
    color: #3B5998;
    opacity: 1;
}
.share.share--page .share__item.icon-social-twitter:hover::before {
    color: #00ACED;
    opacity: 1;
}
.share.share--page .share__item.icon-social-gplus:hover::before {
    color: #DD4B39;
    opacity: 1;
}
.share.share--page .share__item.icon-link:hover::before {
    color: #57A9C1;
    opacity: 1;
}
.share.share--page .share__item::before {
    font-size: 18px;
    opacity: 0.85;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.share.share--page .share__item {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    padding: 5px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.share.share--page .share__item:after {
    height: 44px;
    width: 44px;
    line-height: 44px;
}
.share.share--page:hover .share__list, 
.share.share--page.hover .share__list {
    bottom: 0;
    list-style: outside none none;
    margin: 0;
    opacity: 1;
    padding-left: 0;
    text-align: center;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    width: 100%;
}
@-webkit-keyframes arrows-left {
    0% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9);
        -webkit-animation-timing-function: ease;
    }
    10% {
        -webkit-transform: translate3d(-10px,  0,  0) scale(1);
    }
    20% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9);
        -webkit-animation-timing-function: ease;
    }
    30% {
        -webkit-transform: translate3d(-10px,  0,  0) scale(1);
    }
    40% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9);
        -webkit-animation-timing-function: ease;
    }
    100% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9);
        -webkit-animation-timing-function: ease;
    }
}
@-moz-keyframes arrows-left {
    0% {
        -moz-transform: translate3d(0,  0,  0) scale(0.9);
        -moz-animation-timing-function: ease;
    }
    10% {
        -moz-transform: translate3d(-10px,  0,  0) scale(1);
    }
    20% {
        -moz-transform: translate3d(0,  0,  0) scale(0.9);
        -moz-animation-timing-function: ease;
    }
    30% {
        -moz-transform: translate3d(-10px,  0,  0) scale(1);
    }
    40% {
        -moz-transform: translate3d(0,  0,  0) scale(0.9);
        -moz-animation-timing-function: ease;
    }
    100% {
        -moz-transform: translate3d(0,  0,  0) scale(0.9);
        -moz-animation-timing-function: ease;
    }
}
@keyframes arrows-left {
    0% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9);
        -moz-transform: translate3d(0,  0,  0) scale(0.9);
        -ms-transform: translate3d(0,  0,  0) scale(0.9);
        -o-transform: translate3d(0,  0,  0) scale(0.9);
        transform: translate3d(0,  0,  0) scale(0.9);
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
    10% {
        -webkit-transform: translate3d(-10px,  0,  0) scale(1);
        -moz-transform: translate3d(-10px,  0,  0) scale(1);
        -ms-transform: translate3d(-10px,  0,  0) scale(1);
        -o-transform: translate3d(-10px,  0,  0) scale(1);
        transform: translate3d(-10px,  0,  0) scale(1);
    }
    20% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9);
        -moz-transform: translate3d(0,  0,  0) scale(0.9);
        -ms-transform: translate3d(0,  0,  0) scale(0.9);
        -o-transform: translate3d(0,  0,  0) scale(0.9);
        transform: translate3d(0,  0,  0) scale(0.9);
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
    30% {
        -webkit-transform: translate3d(-10px,  0,  0) scale(1);
        -moz-transform: translate3d(-10px,  0,  0) scale(1);
        -ms-transform: translate3d(-10px,  0,  0) scale(1);
        -o-transform: translate3d(-10px,  0,  0) scale(1);
        transform: translate3d(-10px,  0,  0) scale(1);
    }
    40% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9);
        -moz-transform: translate3d(0,  0,  0) scale(0.9);
        -ms-transform: translate3d(0,  0,  0) scale(0.9);
        -o-transform: translate3d(0,  0,  0) scale(0.9);
        transform: translate3d(0,  0,  0) scale(0.9);
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
    100% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9);
        -moz-transform: translate3d(0,  0,  0) scale(0.9);
        -ms-transform: translate3d(0,  0,  0) scale(0.9);
        -o-transform: translate3d(0,  0,  0) scale(0.9);
        transform: translate3d(0,  0,  0) scale(0.9);
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
}
@-webkit-keyframes arrows-right {
    0% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -webkit-animation-timing-function: ease;
    }
    10% {
        -webkit-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    }
    20% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -webkit-animation-timing-function: ease;
    }
    30% {
        -webkit-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    }
    40% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -webkit-animation-timing-function: ease;
    }
    100% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -webkit-animation-timing-function: ease;
    }
}
@-moz-keyframes arrows-right {
    0% {
        -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -moz-animation-timing-function: ease;
    }
    10% {
        -moz-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    }
    20% {
        -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -moz-animation-timing-function: ease;
    }
    30% {
        -moz-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    }
    40% {
        -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -moz-animation-timing-function: ease;
    }
    100% {
        -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -moz-animation-timing-function: ease;
    }
}
@keyframes arrows-right {
    0% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -ms-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -o-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
    10% {
        -webkit-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
        -moz-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
        -ms-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
        -o-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
        transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    }
    20% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -ms-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -o-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
    30% {
        -webkit-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
        -moz-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
        -ms-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
        -o-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
        transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    }
    40% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -ms-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -o-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
    100% {
        -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -ms-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -o-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
}


/*12. LEFT FIXED HEADER*/
.header6 .fixed-sidebar-menu,
.header14 .fixed-sidebar-menu {
    left: -240px;
}
.header6 .fixed-sidebar-menu.open,
.header14 .fixed-sidebar-menu.open {
    left: 0px;
}
.header6 .fixed-sidebar-menu.open .right-side,
.header14 .fixed-sidebar-menu.open .right-side{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/*13. RIGHT FIXED HEADER*/
.header7 .fixed-sidebar-menu,
.header15 .fixed-sidebar-menu {
    left: -400px;
}
.header7 .fixed-sidebar-menu.open,
.header15 .fixed-sidebar-menu.open {
    left: 0%;
}


/*---------------------------------------------*/
/*--- 14. General Header ---*/
/*---------------------------------------------*/
nav ul li {
    display: inline-block;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-info-group.media_image .header-info-icon,
.header-info-group.font_awesome .header-info-icon {
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    position: relative;
}
.header-light-holder .header-info-group .header_text_title {
    color: #7c7c7c;
}
header.section-header {
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
}
.sidebar_header .navbar-header{
    margin-top: 23px;
}
.navbar-header .logo.no-logo:hover > a {
    color: #e5e5e5;
}
.logo a {
    color: #FFFFFF;
    text-decoration: none;
}
.logo a:hover {
    color: #ffffff;
}
.navbar-collapse.collapse.in .menu .menu-item {
    width: 100%;
}


/* 15. Navbar styling */
header#one-page-header {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.2);
}
.navbar-header .logo {
    margin: 18px 0;
}
.menu .item {
    display: inline-block;
}
.navbar-nav > li > a{
    font-size: 14px;
    padding: 0 10px;
    display: block;
    line-height: 20px;
}
.navbar-nav > li > a:hover {
    text-decoration: none;
}
nav {
    background: #2f383d;
}
.menu .menu-item {
    display: inline-block;
}
.navbar-header .logo > a:hover,
.navbar-header .logo > a {
    color: #000 !important;
}


/*  16. ---  FRAMEWORK-HEADER 2   ---  */
.missing-redux-framework.header2 .no-menu {
    margin: 20px 0;
}
.header2 .no-menu {
    margin: 24px 0;
}
.header2 .logo-infos {
    background: #f7f7f7 none repeat scroll 0 0;
}
.header2 .navbar-header h1.logo {
    text-align: left;
}
header.header2 .header-infos {
    margin-top: 28px;
    overflow: hidden;
}
header.header2 .header-info-group .header_text_title {
    font-size: 17px;
}
header.header2 .header-info-group {
    margin-bottom: 0;
    margin-left: 25px;
    margin-top: 0;
}
header.header2 .header-nav-actions {
    float: right;
    padding: 0px 20px;
    padding-right: 0px;
}
.header2 #evdevtheme-main-head {
    background: #222222 none repeat scroll 0 0;
}
.header2 header .right-side-social-actions li:hover i {
    opacity: 0.6;
}
.header2 header .right-side-social-actions {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.header2 header .right-side-social-actions .mt-search-icon {
    display: inline-table;
    margin-right: 15px;
    margin-top: 11px;
}
.header2 header .right-side-social-actions .mt-search-icon i {
    font-size: 22px;
    color: #fff;
}


/* 17.  ---  FRAMEWORK-HEADER 3   ---  */
/*HEADER 3*/
.is_header_semitransparent .header3 .logo-infos,
.is_header_semitransparent .header3 #evdevtheme-main-head {
    background: transparent;
}
.is_header_semitransparent #evdevtheme-main-head > .container .row {
    border-top: 1px solid rgba(231, 231, 231, .2);
}
.header3 .navbar-header h1.logo {
    margin: 20px 0;
}
.header3 .navbar-header.col-md-3,
.header3 .navbar-header.col-md-4,
.header3 .col-md-9.social-links-column {
    padding: 0;
}
.missing-redux-framework.header3 .no-menu {
    margin: 22px 0;
}
.header3 .no-menu {
    margin: 20px 0;
}
.header3 .logo-infos {
    background: #ffffff none repeat scroll 0 0;
}
.header3 #evdevtheme-main-head {
    background: #ffffff none repeat scroll 0 0;
}
.header3 #navbar {
    text-align: center;
    position: static;
}
.header3 #navbar .menu {
    margin-right: 20px;
}
header.header3 .navbar-nav {
    float: none;
    margin-right: 30px !important;
}
.missing-evdevtheme-framework header.header3 .navbar-nav {
        float: none;
}
header.header3 #mt-nav-burger.open{
    right: -4px;
}
.navstyle-v1.header3 #navbar .menu > .menu-item > a{
    position: relative;
}
footer .widget_nav_menu .menu > .menu-item > a {
    border-bottom: 2px solid transparent;
    position: relative;
}
.navstyle-v1.header3 #navbar .menu > .menu-item > a::after {
    width: calc(100% - 30px);
    bottom: 20px;
    left: 15px;
    content: "";
    position: absolute;
    height: 2px;
    background: #ff2222;
    transform: scale3d(0, 2.5, 1);
    transform-origin: 0% 50%;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}
.navstyle-v1.header3 #navbar .menu > .menu-item > a:hover::after {
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.4s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
body:not(.missing-evdevtheme-framework) footer .widget_nav_menu .menu > .menu-item > a:hover::after {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}
header.header3 .social-links * {
    display: initial;
    color: #222;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}
header.header3 .social-links a:hover {
    color: #ff2222;
}
header.header3 .social-links a:hover i {
    color: #ff2222;
}
header.header3 .social-links a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
header.header3 .social-links a i {
    font-size: 18px;
    margin: 0;
}
header.header3 .menu.nav-effect.nav-menu {
    margin: 0;
    top: 0;
    transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
    -webkit-transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
    position: static;
    opacity: 1;
    visibility: visible;
}
.header3 .menu > .menu-item {
    float: none;
}
.header3 header .right-side-social-actions li:hover i {
    opacity: 0.6;
}
.header3 header .right-side-social-actions .social-links i {
    color: #777777;
    font-size: 22px;
}
.header3 header .right-side-social-actions {
    padding: 28px 0;
}
.header3 header .header-nav-actions {
    padding: 25px 0px;
}
.header3 header .right-side-social-actions .social-links a{
    margin: 0 3px;
}
.header3 header .right-side-social-actions .mt-search-icon{
    margin: 0 12px 0 0;
}
.header3 header .right-side-social-actions .mt-search-icon i {
    font-size: 22px;
    color: #222222;
}
.header3 header .social-links {
    float: none;
}
.header3 #mt-nav-burger span {
    background: #222 none repeat scroll 0 0;
}
.header3 #mt-nav-burger:hover span {
    opacity: .8;
}
.header3 #mt-nav-burger i {
    font-size: 18px;
}


/*   ---  FRAMEWORK-HEADER 4   ---  */
/*HEADER 4*/
.missing-redux-framework.header4 .no-menu {
    margin: 24px 0;
}
.header4 .logo-infos {
    background: #f7f7f7 none repeat scroll 0 0;
}
.header4 #evdevtheme-main-head {
    border: 0 none;
}
header.header4 .navbar-nav {
  float: left;
}
header.header4 #mt-nav-burger.open{
  left: -4px;
}
header.header4 #mt-nav-burger,
header.header11 #mt-nav-burger{
  right: auto;
  left: 0;
}
header.header4 .menu.nav-effect.nav-menu {
  margin: 0;
  top: 0;
  transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  -webkit-transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  position: relative;
  opacity: 1;
  visibility: visible;
}
header.header4 .menu.nav-effect.nav-menu.hidden {
  top: -15px;
  display: block !important;
  opacity: 0;
  visibility: hidden !important;
}
.header4 #navbar {
    text-align: right;
}
.header4 header .right-side-social-actions .social-links i {
    color: #777777;
    font-size: 22px;
}
.header4 header .right-side-social-actions {
    border-left: 2px solid rgba(221, 221, 221, 0.1);
    margin-bottom: 18px;
    margin-right: 0;
    margin-top: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.header4 header .right-side-social-actions .social-links a{
    margin: 0 3px;
}
.header4 header .social-links {
    float: left;
    margin: 0;
}
.header4 #mt-nav-burger{
    top: 5px;
}
.header4 #mt-nav-burger span {
    background: #ffffff none repeat scroll 0 0;
}
.header4 header .right-side-social-actions .mt-search-icon{
    margin: 0 12px 0 0;
}
.header4 header .right-side-social-actions .mt-search-icon i {
    color: #ffffff;
    font-size: 22px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.header4 header .right-side-social-actions .mt-search-icon i:hover {
    opacity: .8;
}
.header4 #mt-nav-burger span:nth-child(1), 
.header4 #mt-nav-burger span:nth-child(2) {
    top: -1px;
}
.header4 #mt-nav-burger span:nth-child(5), 
.header4 #mt-nav-burger span:nth-child(6) {
    top: 13px;
}
.header4 #mt-nav-burger{
    width: 21px;
}
.header4 .actions-group {
    margin-top: 1px;
}
.navbar-header h1.logo.no-logo{
    margin: 29px 0;
}
#navbar .sub-menu {
    box-shadow: 0 0px 10px rgba(37, 37, 37, 0.10);
    -webkit-box-shadow: 0 0px 10px rgba(37, 37, 37, 0.10);
    text-align: left;
    opacity: 0;
    position: absolute;
    width: 190px;
    top: 150%;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    visibility: hidden;
    padding: 10px !important;
}
#navbar .menu-item > a {
    display: block;
    font-weight: 600;
    line-height: 34px;
    padding: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out 0s;
}
#navbar .sub-menu::before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #151515;
    border-width: 8px;
    margin-left: -8px;
}
#navbar .sub-menu .menu-item-has-children .sub-menu::before {
    display: none;
}
#navbar .menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
#navbar .menu-item:hover .sub-menu ~ .sub-menu{
    opacity: 0;
    visibility: hidden;
}
#navbar .menu-item:hover .sub-menu .sub-menu {
    opacity: 0 !important;
    visibility: hidden !important;
}
#navbar .menu-item .sub-menu .menu-item:hover > .sub-menu {
    opacity: 1 !important;
    visibility: visible !important;
}
#navbar .menu-item .sub-menu .sub-menu .sub-menu .sub-menu,
#navbar .menu-item:hover .sub-menu .sub-menu .sub-menu,
#navbar .menu-item.sub-menu .menu-item:hover .sub-menu {
    opacity: 0;
    visibility: hidden;
}

#navbar .menu-item .sub-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 100%;
}
/*HEADER LAYOUT V2*/
.second_header .menu.nav.nav-menu,
.sixth_header .menu.nav.nav-menu {
    width: 100%;
}
.second_header .navbar-header .logo,
.sixth_header .navbar-header .logo {
    margin: 10px 0;
}
.hide_post_featured_image .single-post-featured-img {
    display: none;
}
/* HEADER LAYOUT V3 and V7 */
.third_header .menu.nav.nav-menu,
.seventh_header .menu.nav.nav-menu {
    width: 100%;
}
/*10th HEADER*/
.tenth_header .navbar-header .logo {
    margin: 20px 0 17px;
}
.tenth_header .topheader-nav-holder > div {
    position: absolute;
}
.tenth_header .top-header{
    z-index: 999;
    margin-top: 30px;
    position: relative;
}
.tenth_header nav#evdevtheme-main-head {
    top: 30px;
}
/*NINETH HEADER*/
.nineth_header .navbar-header .logo {
    margin: 20px 0 17px;
}
.nineth_header .topheader-nav-holder > div {
    position: absolute;
}
.nineth_header .top-header{
    z-index: 999;
    margin-top: 30px;
    position: relative;
}
/* HEADER LAYOUT V4 and V8 */
.fourth_header .menu.nav.nav-menu,
.eighth_header .menu.nav.nav-menu {
    width: 100%;
}
.fourth_header .navbar-header .logo,
.eighth_header .navbar-header .logo {
    text-align: center;
}
/*HEADER*/
header.header12 .navbar-nav > li,
header.header13 .navbar-nav > li,
header.header5 .navbar-nav > li{
  float: none;
}
header.header12 .menu.nav-effect.nav-menu,
header.header13 .menu.nav-effect.nav-menu,
header.header5 .menu.nav-effect.nav-menu {
  float: none;
  text-align: center;
}
/*HEADER #3 Burger right*/
header.header10 .navbar-nav {
  float: right;
  margin-right: 30px !important;
}
header.header10 #mt-nav-burger.open{
  right: -4px;
}
header.header10 #mt-nav-burger{
  right: 0;
}
header.header10 .menu.nav-effect.nav-menu {
  margin: 0;
  top: 0;
  transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  -webkit-transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  position: relative;
  opacity: 1;
  visibility: visible;
}
/*MT NAV BURGER*/
#evdevtheme-main-head {
    width: 100%;
    z-index: 200;
    clear: both;
    border: 0 none;
}
#evdevtheme-main-head > .container .row {
    border-top: 1px solid #e7e7e7;
    position: relative;
}
#evdevtheme-main-head > div {
    position: relative;
}
.row_line{padding: 0 50px;}
#mt-nav-burger {
    cursor: pointer;
    height: 15px;
    position: relative;
    top: 3px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    width: 18px;
}
.logo-infos-row, .evdevtheme-main-head-row {
    margin: 0;
}
#mt-nav-burger.open {
    width: 40px;
    top: 22px;
    height: 35px;
}
.header-nav-actions .mt-search-icon {
    color: #222222;
    font-size: 18px;
    padding: 0px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.header-nav-actions .mt-search-icon i {
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.header-nav-actions .mt-search-icon:hover i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.header-nav-actions .mt-search-icon:hover {
    opacity: 0.8;
}
#mt-nav-burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #222;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  z-index: 10;
}
#mt-nav-burger span:nth-child(even) {
    left: 50%;
    border-radius: 0 2px 2px 0;
}
#mt-nav-burger span:nth-child(odd) {
    left: 0px;
    border-radius: 2px 0 0 2px;
}
.fixed-sidebar-menu .icon-close {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 45px;
    top: 45px;
    z-index: 1000;
    opacity: .5;
}
.fixed-sidebar-menu .icon-close:hover {
    opacity: 0.6;
}
#mt-nav-burger span:nth-child(1), #mt-nav-burger span:nth-child(2) {
    top: 0px;
}
#mt-nav-burger span:nth-child(3), #mt-nav-burger span:nth-child(4) {
    top: 6px;
}
#mt-nav-burger span:nth-child(5), #mt-nav-burger span:nth-child(6) {
    top: 12px;
}
#mt-nav-burger span:nth-child(7), #mt-nav-burger span:nth-child(8) {
    top: 18px;
}
#mt-nav-burger:hover span:nth-child(1), 
#mt-nav-burger:hover span:nth-child(2) {
    top: -3px;
}
#mt-nav-burger:hover span:nth-child(5), 
#mt-nav-burger:hover span:nth-child(6) {
    top: 15px;
}
#mt-nav-burger.open span:nth-child(1),#mt-nav-burger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#mt-nav-burger.open span:nth-child(2),#mt-nav-burger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#mt-nav-burger.open span:nth-child(1) {
    left: 5px;
    top: 12px;
}
#mt-nav-burger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 12px;
}
#mt-nav-burger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
    top: 15px;
}
#mt-nav-burger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
    top: 15px;
}
#mt-nav-burger.open span:nth-child(5) {
    left: 5px;
    top: 22px;
}
#mt-nav-burger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 22px;
}
#mt-nav-burger.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}
#mt-nav-burger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}
/*HEADER #12 TOP timeline */
header.header12 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
header.header12 .navbar-default {
    background-color: rgba(0, 0, 0, 0.4) !important;
    z-index: 2;
    position: relative;
}
header.header12 .is-sticky .navbar-default {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0 !important;
}
header.header12 .navbar-nav {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0;
    position: relative;
}
header.header12 .navbar-nav > li::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -3px;
    content: "";
    height: 6px;
    left: 47%;
    position: absolute;
    width: 6px;
}
header.header12 .navbar-nav::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -3px;
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    width: 6px;
}
header.header12 .navbar-nav::after {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -3px;
    content: "";
    height: 6px;
    position: absolute;
    right: 0;
    width: 6px;
}
header.header12 .navbar-nav > li > a {
    font-weight: 400;
    padding: 10px 35px;
}
header.header12 .navbar .logo {
    display: none;
}
header.header11 .navbar-nav {
  float: left;
  margin-left: 30px !important;
}
header.header11 #mt-nav-burger.open{
  left: -4px;
}
header.header11 #mt-nav-burger{
  right: auto;
  left: 0;
}
header.header11 .menu.nav-effect.nav-menu {
  margin: 0;
  top: 0;
  transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  -webkit-transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  position: relative;
  opacity: 1;
  visibility: visible;
}
header.header11 .menu.nav-effect.nav-menu.hidden {
  top: -15px;
  display: block !important;
  opacity: 0;
  visibility: hidden !important;
}
/*   ---   HEADER 5   ---  */
header.header5 #navbar {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
header.header5 #navbar {
    text-align: center;
}
/*   ---   HEADER 8   ---  */
header.header8 .header-nav-actions {
    float: right;
    padding: 0px 20px;
    padding-right: 0px;
}
header.header8 #mt-nav-burger {
    right: 60px;
}
header.header8 #mt-nav-burger {
    top: 25px;
}
header.header8 .navbar-header h1.logo {
    margin: 20px 0;
    transition: all 250ms ease-in-out 0s;
}
header.header8 .header-nav-actions .mt-search-icon {
    padding: 0;
    padding-top: 2px;
}
header.header8 .mt-nav-burger-holder {
    padding: 15px 0px;
}
header.header8 #navbar {
    text-align: left;
}
.is_header_semitransparent header.header8 .sticky-wrapper {
    position: initial;
}
header.header8 .header-nav-actions .mt-search-icon {
    color: #222222;
}
header.header8 #mt-nav-burger span {
    background: #222222 none repeat scroll 0 0;
}
/*   ---   HEADER 9   ---  */
header.header9 .header-nav-actions {
    float: left;
    padding: 0px 20px;
    padding-right: 0px;
}
header.header9 #mt-nav-burger {
    top: 25px;
}
header.header9 .navbar-header h1.logo {
    margin: 20px 0;
    transition: all 250ms ease-in-out 0s;
    text-align: right; 
}
header.header9 .header-nav-actions .mt-search-icon {
    padding: 0px;
}
header.header9 .mt-nav-burger-holder {
    padding: 15px 0px;
}
header.header9 #navbar {
    text-align: right;
}
.is_header_semitransparent header.header9 .sticky-wrapper {
    position: initial;
}
header.header9 .header-nav-actions .mt-search-icon {
    color: #222222;
}
header.header9 #mt-nav-burger span {
    background: #222222 none repeat scroll 0 0;
}
/*Header Infos*/
.header-info-labels .call_us_class {
    font-weight: 900 !important;
}
.header-info-group {
    margin-top: 6px;
    margin-bottom: 3px;
}
.header-info-group .header-info-labels p {
    margin-right: 40px;
}
.header-info-group .header_text_title {
    font-weight: 300;
}
.header-info-group p {
    font-size: 14px;
    margin: 0;
    font-weight: 500 !important;
    color: #fff;
    padding-top: 4px;
}
.header-info-group i {
    float: left;
    font-size: 30px;
    height: 50px;
    margin-right: 0;
    margin-top: -4px;
    padding: 9px 0;
    text-align: center;
    width: 50px;
}
.header-infos .header-info-labels {
    padding-left: 15px;
}

/*header social icons*/
header .social-links {
    float: right;
    margin: 0;
    padding: 0;
}
header .social-links {
    margin: 29px 0;
    padding: 0;
}
.header3 header .col-md-8.social-links-column {
    padding: 0;
}
header .social-links * {
    color: #ffffff;
    display: inline-table;
    list-style: outside none none;
    margin-left: 10px;
    transition: all 250ms ease-in-out 0s;
}
header .social-links a {
    border-radius: 50%;
    height: 20px;
    line-height: 15px;
    text-align: center;
    width: 20px;
}
header .social-links i {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}

/* LOGIN */
.evdevtheme-show.evdevtheme-effect-16 ~ .evdevtheme-overlay {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}
.evdevtheme-modal #loginform label {
    color: #ffffff;
    display: block;
    font-size: 15px;
    margin: 0;
    font-weight: normal;
    text-align: left;
}
.evdevtheme-modal #loginform input[type="text"], .evdevtheme-modal #loginform input[type="password"] {
    border: 1px solid #ccc;
    font-size: 17px;
    padding: 8px;
    width: 100%;
}
.evdevtheme-modal .evdevtheme-content .modal-content .mo-openid-app-icons p {
    color: #222222;
    font-size: 15px;
    font-weight: bold;
}
.evdevtheme-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: none;
}
.evdevtheme-show {
  visibility: visible;
  display: block;
}
.evdevtheme-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.80);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.evdevtheme-show ~ .evdevtheme-overlay {
  opacity: 1;
  visibility: visible;
}
/* Content styles */
.evdevtheme-content {
  color: #222222;
  background: #FFFFFF;
  position: relative;
  margin: 0 auto;
}
.evdevtheme-content h3 {
    margin: 0;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    background: #6CD087;
    color: #fff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.evdevtheme-content > div {
    padding: 25px 15px 40px;
    margin: 0;
    font-weight: normal;
    font-size: 1.15em;
    box-shadow: none;
    border: 0;
}
.modal-content {
    border-radius: 0 0 3px 3px;
}
.evdevtheme-content input#rememberme {
    position: relative;
    top: 2px;
}
.evdevtheme-content > div p {
  margin: 0;
  padding: 10px 0;
}
.evdevtheme-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}
.evdevtheme-content .evdevtheme-close {
    cursor: pointer;
    padding: 25px;
    right: 0;
    opacity: 0.8;
    top: 0;
}
.evdevtheme-content .evdevtheme-close:hover {
    opacity: 1;
}

/* Modal: BLUR */
.evdevtheme-show.evdevtheme-effect-16 ~ .evdevtheme-overlay {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}
.evdevtheme-show.evdevtheme-effect-16 ~ #page {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  filter: blur(4px);
}
.evdevtheme-effect-16 .evdevtheme-content {
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  opacity: 0;
}
.evdevtheme-show.evdevtheme-effect-16 ~ #page,
.evdevtheme-effect-16 .evdevtheme-content {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.evdevtheme-show.evdevtheme-effect-16 .evdevtheme-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

form#login{
    width: 100%;
}

form#login p.status{
    display: none;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}
form#login a.lost {
    font-size: 15px;
    margin-bottom: 7px;
    display: block;
}
form#login label {
    margin-bottom: 0;
    margin-top: 8px;
}
.evdevtheme-modal #login-modal-content {
    max-width: 360px;
}
.evdevtheme-modal #loginform input[type="submit"]:hover,
form#login .register_button:hover,
form#login .submit_button:hover{
  background: #e5c000;
}
.evdevtheme-content > div p.login-remember {
    padding: 5px 0;
}
.evdevtheme-modal .modal-header, .modal-body, .modal-footer{
    padding: 25px;
}
.evdevtheme-modal .modal-footer{
    text-align: center;
}
.evdevtheme-modal #signup-modal-content, 
.evdevtheme-modal #forgot-password-modal-content{
    display: none;
}
.evdevtheme-modal #signup-modal-content {
    max-width: 500px;
}
        
/** validation */
        
.evdevtheme-modal input.parsley-error     {    
    border-color:#843534;
    box-shadow: none;
}
.evdevtheme-modal input.parsley-error:focus{    
    border-color:#843534;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}
.evdevtheme-modal .parsley-errors-list.filled {
    opacity: 1;
    color: #a94442;
    display: none;
}
.um-register .um-field .um-field-label {
    text-align: left;
}
.um-register .um-field .um-field-label label {
    color: #fff;
}
.evdevtheme-modal #loginform input[type="text"], .evdevtheme-modal #loginform input[type="password"],
.evdevtheme-modal .um .um-form input[type="text"], 
.evdevtheme-modal .um .um-form input[type="tel"], 
.evdevtheme-modal .um .um-form input[type="password"], 
.evdevtheme-modal .um .um-form textarea {
    background: transparent !important;
    color: #fff !important;
    border-width: 2px !important;
}
.evdevtheme-modal .um-register .um-button.um-alt{
    color: #fff !important;
    font-weight: bold !important;
    margin-left: 20px !important;
}
.um input[type=submit].um-button{
    background: #6cd087 !important; 
}
.um input[type=submit].um-button:hover{
    background: #4f4f4f !important; 
}

.um-register .um-button.um-alt,
.btn-register,
.evdevtheme-modal #loginform input[type="submit"],
form#login .register_button,
form#login .submit_button{
    background: #6cd087 !important;
}
.uimob340 .um-half.um-right {
    margin-left: 12px;
}
.uimob340 .um-half {
    float: left !important;
    width: 48% !important;
    margin: 0 !important;
}

.um-register .um-button.um-alt:hover,
.btn-register:hover,
.evdevtheme-modal #loginform input[type="submit"]:hover,
form#login .register_button:hover,
form#login .submit_button:hover{
    background: #4f4f4f !important;
    color: #fff !important;
}
.evdevtheme-modal #loginform input[type="submit"],
form#login .register_button,
form#login .submit_button {
    border: 0 none;
    color: #222222;
    font-weight: bold;
    padding: 13px 15px;
    outline: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    width: 100%;
}
#login input[type="password"],
#login input[type="text"] {
    border: 1px solid rgb(229, 236, 239);
    padding: 8px;
}
.header4 header .right-side-social-actions .profile i {
    color: #ffffff;
    font-size: 24px;
}
.header4 header .right-side-social-actions .profile i {
    margin: 0 12px 0 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.header4 header .right-side-social-actions .profile i:hover {
    opacity: .8;
}
li#nav-menu-list {
    margin-left: 10px;
}
.um .um-button.um-alt{
    border-radius: 3px !important;
}
.btn-register {
    border: 0 none;
    color: #222222 !important;
    font-weight: bold !important;
    padding: 13px 15px;
    outline: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    width: 100%;
    margin-top: 5px;
}
img.modal-owl {
    margin-top: 30px;
    max-width: 110px;
    margin-left: 30px;
}

#login-content-shortcode {
    max-width: 360px;
    margin: 0 auto;
}
#login-content-shortcode h3, 
#register-content-shortcode h3 {
    margin: 0;
    text-align: left;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgba(221, 221, 221, 0.15);
    color: #fff;
}

#login-content-shortcode > div,
#register-content-shortcode > div {
    padding: 25px 15px 40px;
    margin: 0;
    font-weight: normal;
    font-size: 1.15em;
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

#login-content-shortcode > div p {
    margin: 0;
    padding: 10px 0;
}

#login-content-shortcode #loginform label {
    color: #ffffff;
    display: block;
    font-size: 15px;
    margin: 0;
    font-weight: normal;
    text-align: left;
}

#login-content-shortcode #loginform input[type="text"], 
#login-content-shortcode #loginform input[type="password"] {
    border: 1px solid #ccc;
    font-size: 17px;
    padding: 8px;
    width: 100%;
}

#login-content-shortcode #loginform input[type="submit"],
#login-content-shortcode #register-btn-shortcode{
    border: 0 none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #222222;
    font-weight: bold;
    padding: 13px 15px;
    background: #ffd600;
    outline: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    width: 100%;
}

#login-content-shortcode #loginform input[type="submit"]:hover,
#login-content-shortcode #register-btn-shortcode:hover {
    background: #e5c000;
}

#login-content-shortcode input#rememberme {
    position: relative;
    top: 2px;
}

#register-content-shortcode .register-content-row {
    padding-bottom: 15px;
    padding-top: 40px;
}

#register-content-shortcode {
    max-width: 500px;
}

#register-content-shortcode {
    display: none;
}

.logged-in-shortcode h3 {
    margin: 0 0 30px;
    text-align: left;
    padding: 30px 50px 30px 30px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    border-bottom: 1px solid rgba(221, 221, 221, 0.15);
    color: #fff;
}

.back-home {
    border: 0 none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #222222 !important;
    font-weight: bold;
    padding: 13px 15px;
    background: #ffd600;
    outline: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    width: 85%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.back-home:hover {
    background: #e5c000;
}

/* dropdown user profile */


/* user menu settings */
#dropdown-user-profile {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#dropdown-user-profile ul {
    position: absolute;
    top: 300%;
    left: -130px;
    width: 200px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    border: 2px solid #151515;
    box-shadow: 0 0 30px 1px rgba(255,255,255,.3);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
#dropdown-user-profile.open ul {
    top: 90%;
    visibility: visible;
    opacity: 1;
}
#dropdown-user-profile ul li { display: inline; }

#dropdown-user-profile ul li a {
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    text-align: left;
    color: #808080;
    font-weight: bold;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    font-weight: 600;
    font-size: 14px;
}
#dropdown-user-profile ul li a:hover {
    background: #151515;
    color: #fff;
}

#dropdown-user-profile ul li a i {
    position: relative;
    top: 1px;
    padding-right: 5px;
}


#dropdown-user-profile ul::before {
    position: absolute;
    top: -20px;
    left: calc(77% - 12.5px);
    content: "\f0d8";
    color: #151515;
    font-family: fontawesome;
    font-size: 35px;
    transition: all 300ms ease;
}

.dropdown-divider {
    height: 0;
    margin: 10px 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.hebe .tp-tab-title {
    color: #FF2121 !important;
    font-family: 'Open Sans' !important;
    font-weight: 500 !important;
}
.hebe .tp-tab-desc {
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
} 

body .tp-tabs, body .tp-thumbs {
    top: 52% !important;
}

.header3 .menu > .menu-item.mega3menu {
    position: static;
}

.add-banner-header {
    float: left;
    width: 70%;
    margin: 10px 0;
}

.logo-infos-row.add_place_banner .navbar-header h1.logo {
    margin: 25px 0;
}
.logo-infos-row.add_place_banner .social-links {
    float: right;
    margin: 34px 0;
}

.adplace-blog-post {
    margin-bottom: 20px;
}
.evdev-logoin a{
    border: solid 0 #151515;
    padding: 0 !important;
    line-height: 40px !important;
    margin: 26px 5px;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out 0s;
    margin: 0;
}
.evdev-logoin a:hover {
    background: #000 !important;
    color: #fff !important;
}
.home div#navbar>ul.menu > li.evdev-logoin a:hover{  background: #58b940 !important;}
div#navbar>ul.menu > li.cart a:hover {
    color: #000;
}
div#navbar>ul.menu > .actions-group {
    margin-right: 25px;
}
div#navbar>ul.menu > li.evdev-logoin a {
    font-size: 20px;
}
div#navbar>ul.menu > li.cart {
    margin-right: 30px;
}
/*19. Burger Menu & Search*/
.actions-group{
    padding: 44px 0 44px 0px;
}
.nav-burger{
    display: inline-block;
    padding: 0px 10px;
}
.nav-search{
    display: inline-block;
    padding: 0px 10px;
}
.nav-search .fa-search:before {
    font-size: 18px;
}

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}
.row_wrapper{
    float: left;
    width: 100%;
    clear: both;
        padding: 0 50px;
}
.main_banner>.wpb_column>.vc_column-inner {
    padding: 0 !important;
}
body.home {
    padding-top: 0;
}
.home .navbar-default {
    background-color: transparent;
}
div#navbar>ul.menu > li a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #58b940;
    transition: width .3s;
}
div#navbar>ul.menu > li:not(.evdev-logoin):not(.cart) a:hover:after{
    width: 100%;
}
.navbar-default .navbar-nav li.cart a {
    color: #000;
}
.header1 #navbar {
    max-height: 100px;
    padding-right: 0;
}
.home div#navbar>ul.menu > li.evdev-logoin a{background: #fff; color: #000;}
div#navbar>ul.menu > li.evdev-logoin a {
    font-size: 16px;
    color: #fff;
    background: #58b940;
    border-radius: 30px;
    padding: 12px 20px !important;
    line-height: normal !important;
    text-align: center;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.08);
}
div#navbar>ul.menu > li.cart .cart-contents:before {
    background: url(../images/multi_icon.png);
    background-color: transparent;
    left: 0;
    width: 100%;
    top: 0;
    background-position: -5px -92px;
    width: 35px;
    height: 35px;
    display: inline-block;
        font-size: 0;
}
.navbar-default .navbar-nav li.cart a span.cart_contents_count {
    position: absolute;
    top: 6px;
    left: 24px;
    background: #000;
    color: #fff;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
}